.breadcrumbs {
  margin-bottom: 15px;
  --gap-x: 10px;
  --gap-y: 5px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-y) var(--gap-x);
  }
  &__item {
    display: flex;
    align-items: center;
    .icon {
      width: 9px;
      height: 7px;
    }
    &:not(:last-child) {
      & > .icon {
        margin-left: var(--gap-x);
        color: var(--color-text-4);
      }
    }
    &:last-child {
      & > .icon {
        display: none;
      }
    }
  }
  &__link {
    color: var(--color-text-3);
    display: flex;
    align-items: center;
    .icon {
      margin-right: var(--gap-x);
    }
    &[data-touch], &[data-hover] {
      color: var(--color-text-3_2);
    }
  }
  @include media-breakpoint-up(sm) {
    &__link {
      .icon {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 10px;
  }
  @include media-breakpoint-down(sm) {
    --gap-x: 8px;
    margin-bottom: 5px;
    &__item {
      &:not(:last-child) {
        display: none;
      }
    }
  }
}

.socials {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
  &__link {
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    .icon {
      width: 100%;
      height: 100%;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-text-2);
    }
  }
}

.promotions-section {
  display: flex;
  &__container {
    justify-content: center;
    row-gap: 20px;
  }
  @include media-breakpoint-up(lg) {
    &__container {
      margin-top: -45px;
      margin-bottom: -65px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__container {
      margin-bottom: -70px;
    }
  }
}


.promotions-block {
  position: relative;
  color: #fff !important;
  display: flex;
  justify-content: center;
  &__container {
    width: 100%;
  }
  &__small-icon {
    position: absolute;
    z-index: 3;
  }
  &__large-icon {
    position: absolute;
    z-index: 2;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  &__title {
    position: absolute;
    text-align: center;
    z-index: 3;
    margin: 0;
  }

  @include media-breakpoint-up(lg) {
    &__back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 20px;
      z-index: 1;
      opacity: 0;
      transition: opacity var(--trs-1);
      &_style-1 {
        background: var(--gradient-label-stock);
      }
      &_style-2 {
        background: var(--gradient-label-new);
      }
      &_style-3 {
        background: var(--gradient-label-popular);
      }
      &_style-4 {
        background: var(--gradient-label-sale);
      }
    }
    &__container {
      width: 100%;
      position: relative;
      z-index: 3;
      height: 180px;
      transform: perspective(500px) translateZ(100px) scale(0.8);
    }
    &__large-icon {
      height: 70px;
      width: 120px;
      top: 45px;
      transition: color var(--trs-1);
      .icon {
        transition: opacity var(--trs-1);
        &:last-child {
          opacity: 0;
        }
      }
    }
    &__title {
      bottom: 20px;
      left: 0;
      color: inherit;
      transition: transform var(--trs-1);
      z-index: 2;
      min-width: 190px;
      transform: translateY(-55px);
    }
    &__small-icon {
      top: -15px;
      transform: translate(-70px, 44px);
      right: 30px;
      width: 30px;
      height: 30px;
      color: inherit;
      transition: transform var(--trs-1);
    }
    &[data-touch], &[data-hover] {
      .promotions-block__large-icon .icon:last-child {
        opacity: 1;
      }
      .promotions-block__small-icon {
        transform: translate(0);
      }
      .promotions-block__title {
        transform: translate(0);
      }
      .promotions-block__back {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    &__container {
      height: 200px;
    }
    &__small-icon {
      top: -17px;
      transform: translate(-80px, 44px);
      width: 34px;
      height: 34px;
    }
    &__title {
      min-width: 212px;
      transform: translateY(-64px);
    }
    &__large-icon {
      height: 85px;
      width: 130px;
    }
  }
  @include media-breakpoint-between(lg, xxl) {
    &__title {
      font-size: 20px;
    }
  }
  @include media-breakpoint-between(md, lg) {
    &:nth-child(odd) {
      grid-column: 2/7;
    }
    &:nth-child(even) {
      grid-column: 7/12;
    }
  }
  @include media-breakpoint-down(lg) {
    border-radius: 20px;
    background-color: var(--color-background-1);
    transition: background-color var(--trs-1);
    &[data-touch], &[data-hover] {
      background-color: var(--color-background-2);
    }
    &__back {
      display: none;
    }
    &__container {
      height: 160px;
    }
    &__large-icon {
      top: 50%;
      left: calc(50% + 20px);
      transform: translate(-50%, -50%);
      height: 70px;
      width: 120px;
      .icon {
        &:last-child {
          display: none;
        }
      }
    }
    &__small-icon {
      width: 34px;
      height: 34px;
      top: 30px;
      left: calc(50% + 40px);
      transform: translateX(-50%);
    }
    &__title {
      bottom: 55px;
      left: calc(50% - 30px);
      transform: translateX(-50%);
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      height: 150px;
    }
    &__large-icon {
      height: 65px;
      width: 110px;
      left: calc(50% + 15px);
    }
    &__small-icon {
      width: 30px;
      height: 30px;
      top: 28px;
    }
    &__title {
      left: calc(50% - 25px);
    }
  }
}

.toggle-head {
  --height: 60px;
  display: flex;
  border-radius: calc(var(--height) / 2);
  background-color: var(--color-background-3);
  overflow: hidden;
  position: relative;
  z-index: 1;
  &__button {
    height: var(--height);
    flex: 1 1 100%;
    text-align: center;
    font-size: 18px;
    color: var(--color-text-6);
    transition: color var(--trs-1), background-color var(--trs-1);
    position: relative;
    z-index: 3;
    &[data-touch], &[data-hover] {
      color: var(--color-text-4);
      & ~ .toggle-head__bg {
        background-color: var(--color-background-1);
      }
    }
    &.active {
      pointer-events: none;
      color: var(--color-text-2);
    }
  }
  &__bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: background-color var(--trs-1);
    z-index: 1;
  }
  &__slider {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: calc(var(--height) / 2);
    background-color: var(--color-background-2);
    z-index: 2;
  }
  @include media-breakpoint-down(lg) {
    --height: 42px;
    &__button {
      font-size: 14px;
    }
  }
}


.small-catalogue {
  .swiper {
    padding: var(--indent-3) 0;
    margin: calc(var(--indent-3) * -1) calc(var(--indent-3) / -2);
  }
  &__block {
    padding: 0 calc(var(--indent-3) / 2);
  }
  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gutter-x);
    row-gap: var(--indent-3);
  }
  @include media-breakpoint-up(md) {
    &__title {
      margin: 0;
    }
  }
}



.small-catalogue-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  &_1 {
    grid-column: span 6;
  }
  &_2 {
    grid-column: span 6;
  }
  &_3 {
    grid-column: span 4;
  }
  &_4 {
    grid-column: span 5;
  }
  &_5 {
    grid-column: span 3;
  }
  &_6, &_7, &_8 {
    grid-column: span 4;
  }
  &_large {
    grid-column: span 6;
  }
  &__title {
    font-weight: inherit;
  }
  &__container {
    text-align: center;
  }
  @include media-breakpoint-up(lg) {
    --container-height: 200px;
    &_xl {
      --container-height: 260px;
    }
    &_large {
      --container-height: 340px;
    }
    &__container {
      width: 100%;
      position: relative;
      background-color: var(--color-background-3);
      transition: background-color var(--trs-1);
      border-radius: inherit;
      height: var(--container-height);
    }
    &__image {
      position: absolute;
      &_large {
        width: 88%;
        top: -42px;
      }
      &_1 {
        width: 67%;
        top: -37px;
      }
      &_2 {
        width: 79%;
        top: -69px;
      }
      &_3 {
        width: 83%;
        top: -60px;
      }
      &_4 {
        width: 63%;
        top: -60px;
      }
      &_5 {
        width: 90%;
        top: -25px;
      }
      &_6 {
        width: 75%;
        top: -52px;
      }
      &_7 {
        width: 64%;
        top: -44px;
      }
      &_8 {
        width: 84%;
        top: -28px;
      }
    }
    &__title {
      padding: 0 var(--container-gutter-x);
      bottom: 35px;
      position: absolute;
      width: 100%;
    }
    &[data-touch], &[data-hover] {
      .small-catalogue-block__container {
        background-color: var(--color-background-1);
      }
    }
  }
  @include media-breakpoint-up(xl) {
    --container-height: 240px;
    &_xl {
      --container-height: 320px;
    }
    &_large {
      --container-height: 420px;
    }
  }
  @include media-breakpoint-up(xxl) {
    --container-height: 262px;
    &_xl {
      --container-height: 352px;
    }
    &_large {
      --container-height: 458px;
    }
  }
  @include media-breakpoint-down(lg) {
    --container-height: 130px;
    &_xl {
      --container-height: 180px;
    }
    &_large {
      --container-height: 245px;
    }
    transition: background-color var(--trs-1);
    background-color: var(--color-background-1);
    &[data-touch], &[data-hover] {
      background-color: var(--color-background-2);
    }
    &__container {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px var(--container-gutter-x) 20px var(--container-gutter-x);
    }
    &__image {
      margin-bottom: calc(var(--container-height) - var(--height) - var(--top) - 55px);
      height: var(--height);
      margin-top: var(--top);
      img {
        width: auto;
        height: 100%;
      }
      &_large {
        --height: 205px;
        --top: -35px;
      }
      &_1 {
        --height: 157px;
        --top: -7px;
      }
      &_2 {
        --height: 182px;
        --top: -32px;
      }
      &_3 {
        --height: 108px;
        --top: -28px;
      }
      &_4 {
        --height: 117px;
        --top: -28px;
      }
      &_5 {
        --top: -17px;
        --height: 95px;
      }
      &_6 {
        --top: -20px;
        --height: 105px;
      }
      &_7 {
        --top: -23px;
        --height: 105px;
      }
      &_8 {
        --top: -7px;
        --height: 96px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &_large {
      --container-height: 230px;
    }
    &__image {
      &_large {
        height: 145px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &_large {
      --container-height: 180px;
    }
    &_1, &_2, &_large {
      grid-column: span 12;
    }
    &_3, &_4, &_7, &_8 {
      grid-column: span 6;
    }
    &_5 {
      grid-column: span 5;
    }
    &_6 {
      grid-column: span 7;
    }
    &__image {
      &_large {
        --height: 145px;
        --top: -20px;
      }
      &_1 {
        --top: -18px;
      }
      &_2 {
        --height: 177px;
        --top: -34px;
      }
      &_3 {
        --height: 103px;
        --top: -13px;
      }
      &_4 {
        --height: 107px;
        --top: -18px;
      }
      &_5 {
        --top: -9px;
        --height: 93px;
      }
      &_6 {
        --top: -11px;
        --height: 97px;
      }
      &_7 {
        --top: -21px;
      }
      &_8 {
        --top: -5px;
        --height: 92px;
      }
    }
  }
}

.advantages-slider {
  @include media-breakpoint-up(lg) {
    &__title {
      margin-bottom: -0.65em;
    }
    .swiper {
      opacity: 1;
      visibility: visible;
      clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
      &-slide {
        position: relative;
        height: 600px;
        width: initial;
        flex: 1 1 auto;
        transition: width var(--trs-2), opacity var(--trs-2);
        width: 10%;
        .image {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        &.hidden {
          opacity: 0.35;
        }
        &.active {
          width: 40%;
          opacity: 1 !important;
        }
      }
      &-pagination, &-button {
        display: none;
      }
    }
    &__container {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: var(--grid-gutter-x);
    }
    &__items {
      grid-column: 7 / 13;
      position: relative;
      transition: height var(--trs-2);
    }
    &__item {
      position: absolute;
      width: 100%;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: opacity var(--trs-2), visibility var(--trs-2);
      user-select: none;
      .icon {
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        right: calc(100% + 24px);
        top: 50%;
        transform: translateY(-50%);
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .swiper {
      &-slide {
        height: 700px;
      }
    }
    &__items {
      grid-column: 8 / 13;
    }
    &__item {
      .icon {
        width: 68px;
        height: 68px;
        right: calc(100% + 28px);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 0;
    }
    &__slider {
      position: relative;
    }
    &__container {
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: var(--grid-gutter-x);
    }
    &__items {
      grid-column: 6 / 13;
      position: relative;
      margin-bottom: 25px;
      transition: height var(--trs-2);
    }
    &__item {
      position: absolute;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity var(--trs-2), visibility var(--trs-2);
      user-select: none;
      .icon {
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        right: calc(100% + 24px);
        top: 50%;
        transform: translateY(-50%);
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    .swiper {
      clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
      &-slide {
        height: 480px;
        .image {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      &-pagination {
        grid-column: 6 / 13;
        justify-content: flex-start;
      }
      &-button {
        --size: 55px;
        top: calc(80% - calc(var(--size) / 2));
        &-next {
          right: var(--content-gutter);
        }
        &-prev {
          left: var(--content-gutter);
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__title {
      margin-bottom: 20px;
    }
    .swiper {
      &-slide {
        height: 400px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__items {
      grid-column: 4 / 13;
      margin-bottom: 25px;
    }
    &__container {
      margin-top: 50px;
    }
    .swiper {
      clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
      &-pagination {
        grid-column: 4 / 13;
        &-bullet {
          width: 20px;
          height: 3px;
          border-radius: 3px;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
      &-slide {
        height: 250px;
      }
      &-button {
        top: calc(84% - calc(var(--size) / 2));
      }
    }
  }
}

.section-partners {
  &__slider {
    &:not(:last-child) {
      margin-bottom: var(--indent-3);
    }
    .swiper {
      --px: 100px;
      overflow: visible;
      &-slide {
        width: calc(var(--width) * var(--multiplier));
        height: calc(var(--height) * var(--multiplier));
        padding: 0 calc(var(--px) / 2);
      }
      &-wrapper {
        align-items: center;
        margin: 0 calc(var(--px) / -2);
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    .swiper {
      --px: 80px;
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper {
      --px: 42px;
    }
  }
}

.partner-item {
  --multiplier: 1;
  box-sizing: content-box;
  position: relative;
  &_1 {
    --width: 158px;
    --height: 26px;
  }
  &_2 {
    --width: 166px;
    --height: 50px;
  }
  &_3 {
    --width: 178px;
    --height: 34px;
  }
  &_4 {
    --width: 212px;
    --height: 39px;
  }
  &_5 {
    --width: 194px;
    --height: 78px;
  }
  &_6 {
    --width: 136px;
    --height: 38px;
  }
  &_7 {
    --width: 70px;
    --height: 36px;
  }
  &_8 {
    --width: 242px;
    --height: 59px;
  }
  &_9 {
    --width: 194px;
    --height: 47px;
  }
  &_10 {
    --width: 160px;
    --height: 34px;
  }
  &_11 {
    --width: 410px;
    --height: 54px;
  }
  &_12 {
    --width: 109px;
    --height: 42px;
  }
  &_13 {
    --width: 198px;
    --height: 44px;
  }
  &_14 {
    --width: 178px;
    --height: 65px;
  }
  &_15 {
    --width: 244px;
    --height: 44px;
  }
  &_16 {
    --width: 132px;
    --height: 42px;
  }
  &_17 {
    --width: 158px;
    --height: 63px;
  }
  &_18 {
    --width: 133px;
    --height: 120px;
  }
  &_19 {
    --width: 310px;
    --height: 95px;
  }
  &_20 {
    --width: 129px;
    --height: 56px;
  }
  &_21 {
    --width: 100px;
    --height: 95px;
  }
  &_22 {
    --width: 133px;
    --height: 83px;
  }
  &_23 {
    --width: 184px;
    --height: 42px;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @include media-breakpoint-down(xxl) {
    --multiplier: 0.9;
  }
  @include media-breakpoint-down(sm) {
    --multiplier: 0.6;
  }
}

.contacts-map {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-color: var(--color-background-1);
  &.loaded {
    .contacts-map__loader {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.loading {
    .contacts-map__loader {
      opacity: 1;
      visibility: visible;
    }
    .contacts-map__element {
      opacity: 0.5 !important;
      pointer-events: none
    }
  }
  &__loader {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: auto;
    z-index: 2;
    transition: opacity var(--trs1), visibility var(--trs1);
  }
  &__element {
    display: none !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity var(--trs-1);
    &.d-block {
      display: block !important;
    }
  }
  @include media-breakpoint-up(lg) {
    border-radius: 20px;
  }
  @include media-breakpoint-down(lg) {
    height: 300px;
    width: var(--content-width);
    margin-left: calc(var(--content-gutter) * -1);
  }
  @include media-breakpoint-down(sm) {
    height: 220px;
  }
}

.contacts {
  position: relative;
  padding-top: var(--angle-top-gutter);
  margin-top: calc(var(--angle-top-margin) - var(--indent-1));
  &:last-child {
    margin-bottom: calc(var(--indent-1) - var(--angle-top-gutter));
  }
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    background-color: var(--color-background-3);
  }
  &::before {
    height: var(--angle-border-size);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    top: 0;
  }
  &::after {
    height: calc(100% - var(--angle-border-size) + var(--indent-1));
    top: var(--angle-border-size);
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__map {
    margin-bottom: var(--indent-3);
  }
  &__head-link {
    font-weight: 700;
  }
  @include media-breakpoint-up(lg) {
    &__head-link {
      font-size: 18px;
      .icon {
        margin-left: 1em;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__head-link {
      font-size: 16px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__map {
      margin-bottom: 25px;
    }
  }
}

.contacts-content {
  &__info {
    border-radius: 20px;
    padding: 20px 20px 25px 20px;
    background-color: var(--color-background-1);
  }
  &__branch-info {
    margin-bottom: 50px;
  }
  &__info-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__info-title {
    margin-bottom: 30px;
  }
  &__info-button {
    margin-top: 25px;
    width: 100%;
  }
  &__adress {
    margin-bottom: 25px;
  }
  @include media-breakpoint-up(md) {
    &__info {
      padding: 26px 32px 34px 32px;
      display: grid;
      justify-content: flex-start;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      column-gap: var(--grid-gutter-x);
    }
    &__adress {
      margin-bottom: 45px;
    }
    &__info-list {
      grid-row: 1/3;
      grid-column: 2/3;
    }
    &__info-title {
      margin: 0;
    }
    &__info-button {
      margin: 0;
      align-self: flex-end;
    }
    &__branch-info {
      margin-bottom: 70px;
    }
  }
  @include media-breakpoint-up(xl) {
    display: grid;
    grid-template-columns: 1fr 1.35fr;
    column-gap: var(--indent-3);
    &__branch-info {
      margin-bottom: 0;
    }
    &__info {
      grid-template-columns: 1fr 1.5fr;
    }
  }
}

.catalog-categories-section {
  &__container {
    margin-top: -30px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gutter-x);
    row-gap: var(--indent-3);
  }
  &__block {
    grid-column: span 3;
  }
  &__catalog-download {
    grid-column: 8/13;
  }
  @include media-breakpoint-down(lg) {
    &__block {
      &:nth-child(odd) {
        grid-column: 2/7;
      }
      &:nth-child(even) {
        grid-column: 7/12;
      }
    }
    &__catalog-download {
      grid-column: 2/12;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      margin-top: -20px;
    }
    &__block {
      &:nth-child(odd) {
        grid-column: 1/7;
      }
      &:nth-child(even) {
        grid-column: 7/13;
      }
    }
    &__catalog-download {
      grid-column: 1/13;
    }
  }
}

.catalog-box {
  &__image {
    width: 276px;
    margin-bottom: 15px;
    &::before {
      content: '';
      display: block;
      padding-top: 76%;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__title {
    margin-top: 0;
  }
  &__link {
    color: var(--color-text-4);
  }
  @include media-breakpoint-down(xxl) {
    &__image {
      width: 240px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__image {
      width: 200px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__image {
      width: 260px;
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    &__image {
      width: 220px;
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__image {
      width: 100%;
    }
  }
}

.catalog-download {
  --my: 64px;
  border-radius: 20px;
  background-color: var(--color-background-1);
  padding: 0 34px 34px 34px;
  text-align: center;
  margin-top: calc(var(--my) + 50px);
  &__image {
    width: 433px;
    margin: calc(var(--my) * -1) auto 18px auto;
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 57%;
    }
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity var(--trs-1), visibility var(--trs-1), transform var(--trs-1);
      will-change: transform, opacity;
      &:first-child {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      &:last-child {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.9);
      }
    }
  }
  &[data-touch], &[data-hover] {
    .catalog-download__image {
      .image {
        &:last-child {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
        &:first-child {
          opacity: 0;
          visibility: hidden;
          transform: scale(0.9);
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__image {
      width: 360px;
    }
  }
  @include media-breakpoint-down(lg) {
    --my: 45px;
    margin-top: calc(var(--indent-1) - var(--indent-3));
    &__image {
      width: 440px;
    }
  }
  @include media-breakpoint-down(sm) {
    --my: 20px;
    padding: 0 20px 25px 20px;
    &__image {
      width: 100%;
    }
  }
}

.contacts-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--grid-gutter-x);
  row-gap: var(--indent-3);
  &:not(:last-child) {
    margin-bottom: var(--indent-3);
    padding-bottom: var(--indent-3);
    border-bottom: 2px solid var(--color-background-2);
  }
  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contacts-box {
  &__list {
    padding: 0;
    li {
      &::before {
        display: none;
      }
    }
  }
}

.contacts-requisites {
  grid-column: 3/5;
}

.catalog-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: var(--grid-gutter-x);
  position: relative;
  z-index: 3;
  &__labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__items {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  @include media-breakpoint-up(md) {
    &__items {
      order: 2;
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
    &__items {
      margin-bottom: 20px;
    }
  }
}

.catalog-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: var(--grid-gutter-x);
  &__text {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px 20px;
  }
  &__title {
    margin: 0;
  }
  &__items-count {
    color: var(--color-text-4);
    padding-bottom: 4px;
    white-space: nowrap;
  }
  @include media-breakpoint-down(sm) {
    &__text {
      gap: 5px 10px;
    }
  }
}

#mse2_pagination {
  .pagination {
    margin-top: 70px;
  }
  @include media-breakpoint-down(md) {
    .pagination {
      margin-top: 60px;
    }
  }
}

#mse2_results {
  transition: opacity var(--trs-1);
}
#mse2_mfilter {
  &.loading {
    #mse2_results {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.catalog {
  &__container {
    --container-columns: 6;
    margin-top: 30px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(var(--container-columns), 1fr);
    column-gap: var(--grid-gutter-x);
  }
  &__items {
    --items-columns: calc(var(--container-columns) - 1);
    display: grid;
    grid-column: span var(--items-columns);
    grid-template-columns: repeat(var(--items-columns), 1fr);
    column-gap: var(--grid-gutter-x);
    row-gap: 75px;
    .product-card {
      &::after {
        content: '';
        position: absolute;
        width: calc(100% * var(--items-columns) + var(--grid-gutter-x) * (var(--items-columns) - 1));
        height: 1px;
        background-color: var(--color-background-2);
        bottom: calc(100% + 30px);
        left: 0;
        display: none;
      }
    }
  }
  &__pagination {
    grid-column: 2 / calc(var(--container-columns) + 1);
  }
  &__filter-element {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__filter-title {
    margin-bottom: 20px;
    font-size: 18px !important;
  }
  &__filter-button {
    width: 40px;
    height: 40px;
    transition: color var(--trs-1);
    padding: 4px;
    flex-shrink: 0;
    margin: 2px -4px 0 -4px;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
    &[data-touch], &[data-hover] {
      color: #fff;
    }
  }
  @include media-breakpoint-up(lg) {
    &__container {
      grid-template-rows: auto 1fr;
    }
    &__filter {
      grid-row: 1/3;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__items {
      .product-card {
        &:nth-child(5n + 1):not(:nth-child(-n + 5)) {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  @include media-breakpoint-between(xl, xxl) {
    &__items {
      .product-card {
        &:nth-child(4n + 1):not(:nth-child(-n + 4)) {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  @include media-breakpoint-between(md, xl) {
    &__items {
      .product-card {
        &:nth-child(3n + 1):not(:nth-child(-n + 3)) {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      --container-columns: 5;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      --container-columns: 4;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      --container-columns: 3;
      display: block;
    }
    &__items {
      --items-columns: var(--container-columns);
    }
    &__filter-title {
      margin-bottom: var(--indent-3);
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      --container-columns: 2;
    }
    &__items {
      .product-card {
        &:nth-child(2n + 1):not(:nth-child(-n + 2)) {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__filter-button {
      width: 36px;
      height: 36px;
      margin: 0 -4px 0 -4px;
    }
  }
}

.filter {
  --items-gap: 10px;
  &__box-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  &__box-item {
    &:not(:last-child) {
      margin-bottom: var(--items-gap);
    }
  }
  &__box-color-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--items-gap);
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: var(--grid-gutter-x);
  }
  &__box-items {
    --overscroll-size: 10px;
    max-height: calc(var(--checkbox-height) * 6 + var(--items-gap) * 5 + var(--overscroll-size) * 2);
    margin: calc(var(--overscroll-size) * -1) 0;
    &::before, &::after {
      margin: 0;
    }
  }
  &__show-button {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    &__show-button {
      display: none !important;
    }
    &__title {
      display: none;
    }
    &__container {
      display: grid;
      grid-template-columns: 100%;
      row-gap: 40px;
      column-gap: var(--grid-gutter-x);
    }
    &__box-items {
      --overscroll-bg-1: var(--scroll-start-gradient-4);
      --overscroll-bg-2: var(--scroll-end-gradient-4);
    }
  }
  @include media-breakpoint-between(sm, lg) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.catalog-categories-list {
  &__link {
    &.active {
      cursor: default;
      color: var(--color-text-3);
    }
  }
  @include media-breakpoint-up(lg) {
    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    margin: calc(var(--line-links-py) * -1) 0;
    &__item {
      &:not(:last-child) {
        border-bottom: 1px solid var(--color-background-2);
      }
    }
    &__link {
      display: block;
      padding: var(--line-links-py) 0;
      font-size: var(--line-links-font-size);
    }
  }
}

.catalog-modal {
  @include media-breakpoint-up(lg) {
    &__close {
      display: none;
    }
    &__container {
      padding: 0;
    }
    &__wrapper {
      overflow: visible;
      &::before, &::after {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: var(--window-height);
    width: var(--window-width);
    background-color: var(--color-background-1);
    &__wrapper {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
    }
    &__inner {
      --bb: 30px;
      width: var(--content-width);
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__container {
      padding-top: var(--indent-3);
      padding-bottom: var(--indent-3);
      flex: 1 0 auto;
    }
    &__button {
      --py: 30px;
      background-color: var(--color-background-1);
      width: 100%;
      position: sticky;
      z-index: 3;
      bottom: 0;
      text-align: center;
      padding: var(--py) 20px var(--py) 20px;
      margin-top: calc(var(--py) * -1);
      flex: 0 0 auto;
      margin-bottom: calc(var(--indent-3) - var(--py));
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: calc(var(--overscroll-size));
        background: linear-gradient(0deg, var(--overscroll-bg-1) 0%, var(--overscroll-bg-2) 100%);
        pointer-events: none;
        left: 0;
      }
    }
    &__close {
      position: fixed;
      right: calc(var(--close-btn-right) + var(--scrollbar-width));
    }
  }
  @include media-breakpoint-down(sm) {
    &__button {
      --py: 20px;
    }
    &__button {
      .button {
        width: 100%;
      }
    }
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + var(--pc-padding-x) * 2);
    height: calc(100% + var(--pc-padding-top) + var(--pc-padding-bottom));
    top: calc(var(--pc-padding-top) * -1);
    left: calc(var(--pc-padding-x) * -1);
    border-radius: 15px;
    background-color: var(--color-background-1);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--trs-1);
  }
  &[data-hover] {
    &::before {
      opacity: 1;
    }
  }
  &__image {
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 auto;
    margin-bottom: 18px;
    z-index: 2;
  }
  &__image-cover {
    position: relative;
    display: block;
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
  &__labes {
    position: absolute;
    top: 14px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
  }
  &__label {
    display: block;
    border-radius: 0 5px 5px 0;
    line-height: 26px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-2);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &_type-new {
      background: var(--gradient-label-new);
    }
    &_type-popular {
      background: var(--gradient-label-popular);
    }
    &_type-stock {
      background: var(--gradient-label-stock);
    }
    &_type-sale {
      background: var(--gradient-label-sale);
    }
  }
  &__content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 18px;
    position: relative;
    z-index: 2;
  }
  &__content-top {
    width: 100%;
    margin-bottom: 36px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    hyphens: auto;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info {
    color: var(--color-text-4);
    font-size: 14px;
  }
  @include media-breakpoint-down(xxl) {
    &__title {
      font-size: 18px;
    }
  }
  @include media-breakpoint-down(md) {
    &__title {
      font-size: 16px;
      margin-bottom: 6px;
    }
    &__content-top {
      margin-bottom: 25px;
    }
    &__label {
      font-size: 14px;
      line-height: 24px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 14px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  &__list {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  &__link {
    padding: 0;
    width: var(--height);
    --color: var(--color-pagination-link);
    --background-color-hover: var(--color-pagination-link-bg-hover);
    &.is-active {
      cursor: default;
      background-color: var(--color-pagination-link-bg-active);
      color: var(--color-pagination-link-active);
    }
  }
  &__control {
    --color: var(--color-pagination-control);
    --color-hover: #fff;
    --background-color: var(--color-pagination-control-bg);
    --background-color-hover: var(--color-pagination-control-bg-hover);
    white-space: nowrap;
    &.disabled {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    &__item {
      &:nth-child(6), &:nth-child(7), &:nth-child(8) {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    column-gap: 8px;
    &__list {
      column-gap: 8px;
    }
    &__item {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

.product {
  color: var(--color-text-2);
  &__container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gutter-x);
  }
  &__head {
    grid-column: span 12;
  }
  &__content {
    grid-column: span 7;
  }
  &__slider {
    grid-column: span 5;
    padding-right: 46px;
  }
  &__content-grid {
    display: grid;
    grid-auto-flow: dense;
    align-items: flex-start;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: var(--grid-gutter-x);
  }
  &__detail-box {
    grid-column: span 3;
    grid-row: span 2;
  }
  &__article {
    display: block;
    color: var(--color-text-4);
    margin-bottom: 30px;
    grid-column: span 4;
  }
  &__specifications {
    grid-column: span 4;
  }
  &__stock {
    margin-bottom: 20px;
  }
  &__description {
    margin-bottom: 30px;
  }
  &__description-text {
    --lines: 3;
    --height: calc(var(--lines) * var(--line-height) * 1em);
    transition: margin var(--trs-2);
    .active & {
      margin-bottom: 5px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__slider {
      padding-right: 20px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__slider {
      padding-right: 0;
    }
    &__detail-box, &__specifications, &__article {
      grid-column: span 7;
    }
    &__detail-box {
      margin-bottom: 30px;
      order: 2;
    }
    &__specifications {
      order: 3;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-top: 25px;
    &__slider {
      grid-column: span 12;
      margin-bottom: 50px;
      .swiper {
        width: var(--content-width);
        margin-left: calc(var(--content-gutter) * -1);
      }
    }
    &__stock {
      margin-bottom: 25px;
    }
    &__description {
      margin-bottom: 25px;
    }
    &__content {
      order: 3;
      grid-column: span 12;
    }
    &__head {
      order: 2;
    }
    &__content-grid {
      grid-template-columns: 1fr 1fr;
    }
    &__article {
      margin-bottom: 25px;
      grid-column: span 2;
      order: 1;
    }
    &__detail-box {
      grid-column: span 1;
      margin: 0;
    }
    &__specifications {
      grid-column: span 1;
    }
  }
  @include media-breakpoint-down(md) {
    &__description-text {
      --lines: 6;
    }
    &__detail-box, &__specifications {
      grid-column: span 2;
    }
    &__detail-box {
      margin-bottom: 25px;
    }
    &__slider {
      margin-bottom: 40px;
    }
  }
}

.product-detail-box {
  background-color: var(--color-background-1);
  border-radius: 20px;
  padding: 20px 30px 30px 30px;
  &__section {
    margin-bottom: 14px;
  }
  &__section-title {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--color-text-4);
  }
  &__section-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__section-item {
    .color-checkbox, .color-link {
      --size: 34px;
    }
  }
  &__button {
    margin-top: 30px;
    .button {
      width: 100%;
    }
  }
}

.product-stock {
  display: flex;
  align-items: center;
  gap: min(var(--grid-gutter-x), 20px);
  color: #000;
  &__label {
    font-size: 16px;
    line-height: 20px;
    padding: 7px 24px;
    border-radius: 17px;
    background: var(--gradient-label-stock);
    color: #fff;
    font-weight: 600;
    flex-shrink: 0;
  }
  &__text {
    color: var(--color-text-stock);
    background: var(--gradient-text-stock);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.info-table {
  width: 100%;
  tr {
    &:not(:last-child) {
      td {
        padding-bottom: 10px;
      }
    }
  }
  td {
    padding: 0;
    width: 50%;
    span {
      display: inline;
      position: relative;
      z-index: 2;
    }
    &:first-child {
      vertical-align: top;
      padding-right: 16px;
      overflow: hidden;
      color: var(--color-text-4);
      span {
        position: relative;
        &::after {
          content: '';
          display: block;
          border-bottom: 1px solid var(--color-background-2);
          position: absolute;
          left: calc(100% + 8px);
          bottom: 0.25em;
          width: 100vw;
        }
      }
    }
    &:last-child {
      vertical-align: bottom;
      padding-left: 8px;
    }
  }
}

.product-slider {
  position: relative;
  .swiper {
    border-radius: 10px;
  }
  .swiper-slide {
    padding-top: 100%;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__miniatures {
    position: absolute;
    z-index: 2;
    left: 10px;
    bottom: 10px;
    display: none;
  }
  &__miniatures-items {
    display: flex;
    gap: 8px;
  }
  &__miniature {
    position: relative;
    width: 54px;
    border: 2px solid var(--color-background-6);
    border-radius: 10px;
    transition: border-color var(--trs-1);
    overflow: hidden;
    background-color: #fff;
    transform: translateZ(0);
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &.is-active {
      border-color: var(--color-background-7);
    }
  }
  @include media-breakpoint-up(lg) {
    &__pagination {
      display: none !important;
    }
  }
  
  @include media-breakpoint-down(lg) {
    .swiper {
      border-radius: 0;
    }
    .swiper-slide {
      padding-top: 0;
      height: 740px;
    }
    &__miniatures {
      display: none !important;
    }
    &__pagination {
      margin-top: 25px;
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-slide {
      height: 500px;
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper-slide {
      height: auto;
      padding-top: 100%;
    }
  }
}

.products-slider {
  .product-card {
    height: 100%;
  }
  .swiper {
    padding: var(--pc-padding-top) 0 var(--pc-padding-bottom) 0;
    margin-top: calc(var(--pc-padding-top) * -1);
    margin-bottom: calc(var(--pc-padding-bottom) * -1);
  }
  .swiper-button {
    top: calc(var(--pc-image-size) / 2 - var(--size) / 2);
  }
}

.screen-section {
  position: relative;
  min-height: calc(min(var(--screen-max-height), var(--window-safe-height)));
  margin-top: calc(var(--main-top-padding) * -1);
  display: flex;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 250px;
    background: var(--home-screen-gradient);
    z-index: 2;
  }
  &__background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &::before {
      z-index: 2;
      background-color: var(--home-screen-image-mask);
    }
    &::after {
      z-index: 3;
      clip-path: polygon(19% 0, 100% 92%, 100% 100%, 54% 100%, 0 37%, 0 0);
      background-color: var(--home-screen-mask);
    }
    img {
      &:not(:first-child) {
        z-index: 1;
        transition-delay: var(--animation-duration-1);
      }
      &:first-child {
        z-index: 4;
        &:not(.lazyloaded) {
          & + img {
            opacity: 0 !important;
            visibility: hidden !important;
          }
        }
      }
    }
  }
  &__container {
    position: relative;
    z-index: 3;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      padding-top: 150px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding-top: 190px;
      padding-bottom: 150px;
    }
    &__background {
      &::after {
        clip-path: polygon(37% 0, 100% 48%, 100% 100%, 81% 100%, 0 34%, 0 0);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding-top: 130px;
      padding-bottom: 100px;
    }
    &::after {
      height: 50%;
    }
    &__background {
      &::after {
        clip-path: polygon(13% 0, 100% 37%, 100% 100%, 130% 94%, 0 37%, 0 0);      
      }
    }
  }
}

.about-company-head {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__description {
    max-width: 500px;
  }
  @include media-breakpoint-down(lg) {
    &:not(:last-child) {
      margin-bottom: 160px;
    }
    &__container {
      justify-content: flex-end;
      padding-bottom: 150px;
    }
    &__description {
      max-width: 320px;
    }
  }
  @include media-breakpoint-down(sm) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &__container {
      padding-top: 300px;
      padding-bottom: 150px;
    }
    &__title {
      margin: 0;
    }
    &__description {
      display: none;
    }
  }
}

.karera-head {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__background {
    img {
      object-position: center top;
    }
  }
  &__title {
    margin-bottom: 80px;
  }
  &__description {
    max-width: 340px;
    padding-bottom: 120px;
  }
  @include media-breakpoint-down(xxl) {
    &__description {
      padding-bottom: 100px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__title {
      margin-bottom: 60px;
    }
    &__description {
      padding-bottom: 80px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding-bottom: 450px;
    }
    &__description {
      max-width: 270px;
      padding-bottom: 0;
    }
    &__background {
      img {
        object-position: 45% center;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__background {
      img {
        object-position: 36% center;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__title {
      margin-bottom: 30px;
    }
    &__container {
      padding-top: 130px;
      padding-bottom: 320px;
    }
    &__description {
      max-width: 230px;
    }
    &__background {
      img {
        object-position: 37% center;
      }
    }
  }
}

.postavshhikam-head {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__description {
    max-width: 340px;
  }
  &__buttons {
    display: flex;
    gap: 18px;
    margin-top: 50px;
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 50px;
    &__container {
      justify-content: flex-start;
    }
    &__description {
      max-width: 270px;
    }
    &__buttons {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding-bottom: 250px;
    }
    &__description {
      max-width: 220px;
    }
  }
}

.home-banner {
  position: relative;
  overflow: hidden;
  margin-bottom: calc(var(--indent-1) - var(--indent-3));
  * {
    user-select: none;
  }
  &::after {
    z-index: 3;
    pointer-events: none;
  }
  &__navigation {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 15%;
    opacity: 0;
    transition: opacity var(--trs-2);
    background: linear-gradient(90deg, #38393C 0%, rgba(66, 67, 70, 0) 100%);
    &[data-hover] {
      opacity: 1;
    }
    &_next {
      right: 0;
      transform: rotate(180deg);
    }
  }
  &__back-items {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__back-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity, visibility;
    img {
      object-position: center bottom;
      user-select: none;
      pointer-events: none;
    }
  }
  &__front-items {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  &__front-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    will-change: opacity, visibility;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: transparent;
      will-change: transform;
    }
  }
  &__front-item-text {
    position: absolute;
    right: 60px;
    width: 1.3em;
    height: 1.3em;
    color: rgba(220, 220, 220, 0.44);
    span {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      white-space: nowrap;
    }
  }
  &__container {
    pointer-events: none;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: var(--indent-3);
    display: flex;
    z-index: 5;
    &-button {
      width: 50px;
      height: 30px;
      position: relative;
      margin-bottom: -14px;
      margin-top: -13px;
      &:not(:last-child) {
        margin-right: 8px;
      }
      &-inner {
        position: absolute;
        width: 100%;
        height: 3px;
        overflow: hidden;
        border-radius: 3px;
        bottom: 14px;
        background-color: var(--color-pagination-bg);
        transition: background-color var(--trs-2);
      }
      &-loader {
        width: 100%;
        position: absolute;
        height: inherit;
        border-radius: inherit;
        background-color: var(--color-pagination-bg-active);
        opacity: 0;
        transition: opacity var(--trs-2);
      }
      &[data-touch], &[data-hover] {
        .home-banner__pagination-button-inner {
          background-color: var(--color-pagination-bg-hover);
        }
      }
      &.filled {
        .home-banner__pagination-button-loader {
          opacity: 1;
        }
        .home-banner__pagination-button-inner {
          background-color: var(--color-pagination-bg-active);
        }
      }
      &.active {
        pointer-events: none;
        .home-banner__pagination-button-loader {
          opacity: 1;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__container {
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__navigation {
      width: 25%;
    }
    &__container {
      justify-content: flex-start;
    }
    &__pagination {
      justify-content: center;
    }
    &__front-items {
      height: 130%;
      top: -15%;
    }
    &__front-item-text {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__navigation {
      width: 50%;
    }
  }
}

.history-list {
  &__item {
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
    }
    &::before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-background-6);
    }
    &::after {
      background-color: var(--color-background-5);
    }
  }
  &__item-description {
    color: var(--color-text-4);
    p {
      --margin: 10px;
    }
  }

  @include media-breakpoint-up(lg) {
    --count: 3;
    overflow: visible !important;
    margin: 0 calc(var(--grid-gutter-x) / -2) !important;
    &__item {
      padding: 0 calc(var(--grid-gutter-x) / 2);
      width: calc((var(--content-width) - var(--container-gutter-x) * 2 + var(--grid-gutter-x)) / var(--count)) !important;
      position: relative;
      &::before {
        left: calc(var(--grid-gutter-x) / 2);
        top: 90px;
      }
      &:not(:last-child) {
        &::after {
          width: calc(100% - 10px);
          height: 2px;
          top: 94px;
          left: calc(var(--grid-gutter-x) / 2 + 10px);
        }
      }
    }
    &__item-title {
      margin-bottom: 85px !important;
    }
  }
  @include media-breakpoint-up(xl) {
    --count: 4;
  }
  @include media-breakpoint-down(lg) {
    --lp: 58px;
    --tp: 17px;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
    &__container {
      display: block !important;
    }
    &__item {
      position: relative;
      &::before {
        left: var(--lp);
        top: var(--tp);
      }
      &:not(:last-child) {
        padding-bottom: 90px;
        &::after {
          width: 2px;
          height: 100%;
          left: calc(var(--lp) + 4px);
          top: calc(var(--tp) + 10px);
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    --lp: 20px;
  }
  @include media-breakpoint-down(sm) {
    --tp: 10px;
  }
}

.company-mission-text {
  &__title {
    font-size: 18vw;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    opacity: 0.1;
    margin-bottom: -0.3em;
  }
  @include media-breakpoint-up(sm) {
    &__title {
      font-size: 68px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__title {
      font-size: 110px;
    }
  }
}

.purchase-box {
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
  background-color: var(--color-background-1);
  &__title {
    margin-bottom: 70px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: var(--grid-gutter-x);
  }
  &__button {
    flex-shrink: 0;
  }
  &__list {
    li {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 10px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      span {
        &:first-child {
          color: var(--color-text-4);
        }
        &:not(:last-child) {
          &::after {
            content: ':';
          }
        }
        &:not(:first-child) {
          color: var(--color-text-2);
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 50px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 20px 30px 20px;
    &__title {
      margin-bottom: 25px;
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
      gap: 25px 0;
    }
    &__list {
      align-self: stretch;
    }
  }
}

.content-box {
  --pt: 20px;
  --pe: 30px;
  --pb: 30px;
  --ps: 30px;
  padding: var(--pt) var(--pe) var(--pb) var(--ps);
  border-radius: 10px;
  background-color: var(--color-background-1);
  &__title {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(sm) {
    --pe: 20px;
    --ps: 20px;
    align-items: stretch;
  }
}

.head-hunter-box {
  background-color: #B2171D;
  &__button {
    --icon-size: 30px;
    --background-color: #fff;
    --background-color-hover: #C74545;
    --color: #D20A11;
    --color-hover: #fff;
  }
}


.klientam-content-box {
  position: relative;
  &__info {
    min-height: 150px;
  }
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 93%;
    }
  }
  &__timetable {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  @include media-breakpoint-up(lg) {
    &__timetable {
      max-width: 560px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__info {
      &:not(:last-child) {
        padding-right: 320px;
      }
    }
    &__image {
      position: absolute;
      width: 424px;
      left: calc(100% - 220px);
      top: -24px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__info {
      &:not(:last-child) {
        padding-right: 354px;
      }
    }
    &__image {
      width: 450px;
      left: calc(100% - 212px);
    }
  }
  @include media-breakpoint-down(xl) {
    &__info {
      &:not(:last-child) {
        padding-bottom: 260px;
      }
    }
    &__image {
      width: 440px;
      margin-top: -220px;
      margin-left: auto;
      margin-right: 58px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__timetable {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__image {
      width: 400px;
    }
  }
  @include media-breakpoint-down(sm) {
    --gutter: calc(((var(--content-width) - (var(--container-gutter-x) * 2) - 60px) * 0.93) / 2);
    &__info {
      &:not(:last-child) {
        padding-bottom: calc(var(--gutter) + 40px);
      }
    }
    &__image {
      width: calc(100% - 60px);
      margin-right: 30px;
      margin-top: calc(var(--gutter) * -1);
    }
    &__timetable {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.order-box-constructor {
  display: flex;
  .color-checkbox {
    --size: 34px;
  }
  .select {
    --bg-select: var(--color-background-2);
    --bg-select-hover: var(--color-background-5);
    --color-select-hover: var(--color-text-2);
  }
  &__content {
    flex: 1 1 43%;
    position: relative;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: calc(100% + var(--pt) + var(--pb));
      background-color: var(--color-background-2);
      position: absolute;
      right: 0;
      top: calc(var(--pt) * -1);
    }
  }
  &__form {
    flex: 0 1 57%;
    padding-left: var(--ps);
  }
  @include media-breakpoint-down(lg) {
    &__content {
      flex: 1 1 50%;
    }
    &__form {
      flex: 0 1 50%;
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
    &__content {
      padding-bottom: 35px;
      &::after {
        height: 1px;
        width: calc(100% + var(--ps) + var(--pe));
        background-color: var(--color-background-2);
        right: calc(var(--pe) * -1);
        top: 100%;
      }
    }
    &__form {
      padding-left: 0;
      padding-top: 40px;
    }
  }
}

.product-v2 {
  @include media-breakpoint-down(lg) {
    
  }
}