.button {
  --height: 48px;
  --font-size: 16px;
  --padding-x: 26px;
  --font-size: 16px;
  --font-weight: 700;
  --icon-size: 16px;
  --gap: 12px;

  --background-color-hover: var(--color-btn-1-bg-hover);
  --color-hover: var(--color);

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color var(--trs-1), background-color var(--trs-1);
  line-height: var(--height);
  padding: 0 var(--padding-x);
  font-size: var(--font-size);
  border-radius: calc(var(--height) / 2);
  font-weight: var(--font-weight);
  column-gap: var(--gap);
  background-color: var(--background-color);
  color: var(--color);

  .loader {
    position: absolute;
    height: 10px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity var(--trs-1);
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    transition: opacity var(--trs-1);
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &[data-touch], &[data-hover] {
    background-color: var(--background-color-hover);
    color: var(--color-hover);
  }
  
  .icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &_large {
    --height: 60px;
    --font-size: 18px;
    --icon-size: 20px;
    --gap: 16px;
  }

  &_small {
    --height: 34px;
    --font-size: 14px;
    --font-weight: 600;
    --padding-x: 15px;
  }

  &_style-1 {
    --background-color: var(--color-btn-1-bg);
    --background-color-hover: var(--color-btn-1-bg-hover);
    --color: var(--color-btn-1);
  }

  &_style-2 {
    --background-color: var(--color-btn-2-bg);
    --background-color-hover: var(--color-btn-2-bg-hover);
    --color: var(--color-btn-2);
  }

  &_style-3 {
    --background-color: var(--color-btn-3-bg);
    --background-color-hover: var(--color-btn-3-bg-hover);
    --color: var(--color-btn-3);
  }

  &_in-load {
    .button__inner {
      opacity: 0;
    }
    .loader {
      opacity: 1;
    }
  }

  &_disabled {
    cursor: default;
  }

}

.cart-button {
  &:not(.cart-button_in-cart) {
    .button__inner:nth-child(2) {
      display: none;
    }
  }
  &_in-cart {
    --background-color: var(--color-btn-in-cart-bg);
    --background-color-hover: var(--color-btn-in-cart-bg-hover);
    .button__inner:not(:nth-child(2)) {
      display: none;
    }
  }
}

.collapse-button {
  display: none;
  align-items: flex-end;
  gap: 12px;
  color: var(--color-text-4);
  transition: color var(--trs-1);
  font-size: 16px;
  line-height: 25px;
  .icon {
    width: 11px;
    height: 11px;
    transition: transform var(--trs-1);
    margin-bottom: 6px;
  }
  &.d-block {
    display: inline-flex !important;
  }
  span {
    &:nth-child(2) {
      display: none;
    }
  }
  &.active {
    span {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: block;
      }
    }
    .icon {
      transform: rotate(180deg);
    }
  }
  &[data-touch], &[data-hover] {
    color: var(--color-text-2);
  }
}

.rectangle-button {
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  border-radius: 10px;
  gap: 20px;
  background-color: var(--color-background-2);
  transition: background-color var(--trs-1), color var(--trs-1);
  .icon {
    flex-shrink: 0;
    --size: 20px;
    width: var(--size);
    height: var(--size);
  }
  &[data-touch], &[data-hover] {
    background-color: var(--color-background-5);
    color: var(--color-text-2);
  }
  @include media-breakpoint-down(lg) {
    padding: 0 30px;
    height: 66px;
    .icon {
      --size: 13px;
    }
  }
}