img {
  display: block;
  user-select: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition-duration: var(--animation-duration-2);
    transition-timing-function: var(--transition-timing-function-1);
    transition-property: opacity, visibility;
  }
}

//images
.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.image-content {
  background-color: var(--color-background-3);
  --size: var(--image-size);
  --image-size: 100%;
  --image-sm-size: var(--image-size);
  &::before {
    content: '';
    display: block;
    padding-top: var(--size);
  }
  @include media-breakpoint-up(sm) {
    --size: var(--image-sm-size);
  }


  &_left {
    width: calc(100% + var(--content-gutter));
    margin-left: calc(var(--content-gutter) * -1);
  }
  &_right {
    width: calc(100% + var(--content-gutter));
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.close-button {
  padding: 10px;
  margin: -10px;
  color: var(--color-close);
  transition: color var(--trs-1);
  position: absolute;
  top: var(--close-btn-top);
  right: var(--close-btn-right);
  z-index: 2;
  .icon {
    width: var(--close-btn-size);
    height: var(--close-btn-size);
  }
  &[data-touch], &[data-hover] {
    color: var(--color-close-hover);
  }
}

.tippy-box {
  border-radius: 5px;
  background-color: var(--color-tippy-background);
  color: var(--color-tippy);
  padding: 8px 14px;
  transition-timing-function: ease-in-out;
  box-shadow: var(--modal-shadow);
  &[data-placement="bottom"] {
    margin-top: 25px;
  }
  &[data-animation='fade'][data-state='hidden'] {
    opacity: 0;
  }
  &[data-animation='fade'][data-state='visible'] {
    opacity: 1;
  }
}

//3d
@include media-breakpoint-up(lg) {
  [data-3d="parent"] {
    position: relative;
    transform: translateZ(1000px);
    transform-style: preserve-3d;
  }
  [data-3d="back"], [data-3d="forward"] {
    position: relative;
  }
  [data-3d="back"] {
    z-index: 1;
    transform: perspective(500px);
  }
  [data-3d="forward"] {
    z-index: 2;
    transform: perspective(500px) translateZ(50px) scale(0.9);
  }
}

.link-arrow {
  display: flex;
  align-items: center;
  .icon {
    width: 1em;
    height: 1em;
    margin-left: 0.75em;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-text-2);
  }
}

.dev-label {
  font-size: 0.875rem;
  span {
    color: var(--color-text-4);
  }
  a {
    display: inline-block;
    transform: translateY(7%);
    span {
      display: none;
    }
  }
  svg {
    width: 5.5em;
    display: block;
  }
}

.point-text {
  display: inline-flex;
  align-items: center;
  color: var(--color-text-4);
  .icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}

.timetable-element {
  --height: 7px;
  --margin: 20px;
  &__days {
    display: flex;
    margin-bottom: var(--margin);
  }
  &__day {
    flex: 1 1 14.28%;
    text-align: center;
  }
  &__line {
    background-color: var(--color-background-2);
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    position: relative;
    overflow: hidden;
    span {
      display: block;
      height: 100%;
      background: linear-gradient(90deg, #0096F3 0%, #20AC75 44.88%, #EF9530 100%);
    }
  }
  &__description {
    display: flex;
    margin-top: var(--margin);
    span {
      flex: 1 1 auto;
      text-align: center;
      &:first-child {
        flex: 0 0 auto;
      }
    }
  }
}

.swiper {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--trs-1), visibility var(--trs-1);
  transition-timing-function: ease;
  .swiper-slide {
    height: initial;
    transform: translateZ(0);
  }
  &-pagination {
    --color: var(--color-background-2);
    --color-hover: var(--color-background-5);
    --color-active: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    &-bullet {
      width: 20px;
      height: 3px;
      border-radius: 3px;
      background-color: var(--color);
      transition: background-color var(--trs-1);
      &:not(:last-child) {
        margin-right: 5px;
      }
      &[data-touch], &[data-hover] {
        background-color: var(--color-hover);
      }
      &-active {
        cursor: default;
        background-color: var(--color-active);
      }
    }
  }
  &-button {
    --size: 64px;
    --icon-size: 20px;
    --color: var(--color-background-6);
    --color-bg: var(--color-background-1);
    --color-hover: #fff;
    --color-hover-bg: var(--color-background-2);
    cursor: pointer;
    display: flex;
    position: absolute;
    z-index: 2;
    width: var(--size);
    height: var(--size);
    color: var(--color);
    background-color: var(--color-bg);
    border-radius: 50%;
    transition: opacity var(--trs-1), visibility var(--trs-1), background-color var(--trs-1), color var(--trs-1);
    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      &:not(.swiper-button-disabled) {
        color: var(--color-hover);
        background-color: var(--color-hover-bg);
      }
    }
    &-disabled {
      opacity: 0;
      cursor: default;
    }
  }
  &-scrollbar {
    border-radius: calc(var(--custom-scrollbar-width) / 2);
    background-color: var(--color-scrollbar);
  }
  &-scrollbar-drag {
    background-color: var(--color-scrollbar-thumb);
    border-radius: calc(var(--custom-scrollbar-width) / 2);
  }
  &-lazy {
    opacity: 0;
    visibility: hidden;
    &-loaded {
      opacity: 1;
      visibility: visible;
      transition-duration: var(--animation-duration-2);
      transition-timing-function: var(--transition-timing-function-1);
      transition-property: opacity, visibility;
    }
  }
  //modificators
  &-initialized {
    opacity: 1;
    visibility: visible;
  }
  &-horizontal {
    & ~ .swiper-scrollbar {
      height: var(--custom-scrollbar-width);
      .swiper-scrollbar-drag {
        height: 100%;
      }
    }
  }
}

.slider-constructor {
  position: relative;
  display: flex;
  flex-direction: column;
  .swiper {
    width: calc(100% + var(--grid-gutter-x));
    margin: 0 calc(var(--grid-gutter-x) / -2);
    pointer-events: none;
  }
  .swiper-wrapper {
    pointer-events: all;
  }
  .swiper-slide {
    padding: 0 calc(var(--grid-gutter-x) / 2);
  }
  .swiper-button {
    --size: 42px;
    top: calc(50% - var(--size) / 2);
    &-next {
      right: calc(var(--size) / -2);
    }
    &-prev {
      left: calc(var(--size) / -2);
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-button {
      &-next {
        right: -12px;
      }
      &-prev {
        left: -12px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper {
      overflow: visible;
    }
  }
}

[data-collapse='parent'] {
  &.active {
    [data-collapse='content'] {
      height: var(--height);
      &.active {
        height: auto;
      } 
    }
  }
  &:not(.active) {
    [data-collapse='content'] {
      max-height: var(--height);
    }
  }
}
[data-collapse='content'] {
  overflow: hidden;
  position: relative;
}

.map-vector {
  .swiper-slide {
    width: 100%;
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
  }
  @include media-breakpoint-up(sm) {
    .swiper-scrollbar {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper {
      overflow: visible;
    }
    .swiper-slide {
      width: 800px;
    }
    .swiper-scrollbar {
      margin-top: 40px;
    }
  }
}

.product-calculator {
  --size: 40px;
  --px: 5px;
  height: var(--size);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-2);
  border-radius: calc(var(--size) / 2);
  font-size: 16px;
  line-height: 20px;
  input {
    line-height: 20px;
    text-align: center;
    color: var(--color-text-2);
    height: var(--size);
    &[name="count"] {
      background-color: black;
    }
  }
  &__count-input {
    flex: 1 1 auto;
  }
  &__button {
    height: var(--size);
    width: calc(var(--size) + var(--px));
    display: flex;
    flex: 0 0 auto;
    color: var(--color-text-1);
    transition: color var(--trs-1);
    .icon {
      margin: auto;
      width: 16px;
      height: 16px;
    }
    &_minus {
      padding-left: var(--px);
    }
    &_plus {
      padding-right: var(--px);
    }
    &[data-touch], &[data-hover] {
      color: var(--color-text-2);
    }
  }
}

.icon-checkbox {
  border-radius: 27px;
  position: relative;
  display: block;
  color: #fff;
  input {
    display: none;
    &:checked + span {
      background-color: var(--color-background-2);
      &::before {
        background-color: var(--color-background-5);
      }
      &::after {
        opacity: 1;
        background-color: var(--color-background-6);
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    height: 54px;
    border-radius: 27px;
    border: 2px solid var(--color-background-2);
    padding: 0 26px 0 52px;
    transition: background-color var(--trs-1);
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      position: absolute;
      left: 16px;
      top: 14px;
      background-color: var(--color-background-2);
      transition: background-color var(--trs-1);
    }
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 22px;
      top: 20px;
      border-radius: 50%;
      background-color: var(--color-background-5);
      transition: opacity var(--trs-1), visibility var(--trs-1);
      opacity: 0;
    }
  }

  .icon {
    display: block;
    margin-right: 12px;
    &_style-1 {
      width: 26px;
      height: 19px;
    }
    &_style-2 {
      width: 18px;
      height: 23px;
    }
    &_style-3 {
      width: 16px;
      height: 23px;
    }
    &_style-4 {
      width: 22px;
      height: 22px;
    }
  }

  &[data-touch], &[data-hover] {
    span {
      &::after {
        opacity: 1;
      }
    }
  }
}

.form-grid {
  --bs-gutter-x: 14px;
}

.input {
  position: relative;
  --height: 54px;
  --line-height: 20px;
  --font-size: 16px;
  --radius: calc(var(--height) / 2);
  
  input, textarea {
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: calc((var(--height) - var(--line-height)) / 2) 20px;
    width: 100%;
    border-radius: var(--radius);
    position: relative;
    z-index: 2;
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--color-text-1);
    }
    &[required] {
      & ~ .input-element span {
        &::after {
          opacity: 1;
        }
      }
    }
    &[data-touch], &[data-hover], &.filled, &:focus {
      & ~ .input-element {
        background-color: var(--color-background-3);
      }
    }
    &:focus, &.filled {
      & ~ .input-element {
        span {
          opacity: 0;
        }
      }
    }
    &.error {
      & ~ .input-element {
        background-color: var(--color-input-bg-error);
        span {
          color: inherit;
        }
      }
    }
    &.success {
      & ~ .input-element {
        background-color: var(--color-input-bg-succes);
      }
    }
    &[disabled] {
      cursor: default;
      & ~ .input-element {
        background-color: var(--color-background-4) !important;
        span {
          color: var(--color-text-6);
        }
      }
    }
  }

  textarea {
    min-height: var(--textarea-height);
  }

  input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &-element {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-4);
    border-radius: var(--radius);
    transition: background-color var(--trs-1);
    span {
      color: var(--color-text-4);
      transition: opacity var(--trs-1), color var(--trs-1);
      font-size: 16px;
      line-height: 20px;
      position: absolute;
      top: 17px;
      left: 20px;
      &::after {
        content: '*';
        transition: opacity var(--trs-1);
        opacity: 0;
      }
    }
  }
}

.input-message {
  display: none;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 20px;
  color: var(--color-input-message);
}

.input-file {
  input {
    display: none;
    &[required] {
      & ~ .input-file-element {
        span:after {
          content: '*';
        }
      }
    }
    &.selected {
      & ~ .input-file-element {
        span:after {
          content: '' !important;
        }
      }
      &:not([disabled]) ~ .input-file-element {
        color: #fff;
        &_style-1 {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
        &_style-2 {
          border-color: var(--color-input-bg-succes);
        }
      }
    }
    &.error {
      & ~ .input-file-element {
        &_style-1 {
          background-color: var(--color-input-bg-error);
        }
        &_style-2 {
          border-color: var(--color-input-bg-error);
        }
      }
    }
    &[disabled] {
      & ~ .input-file-element {
        cursor: default;
        color: var(--color-text-4);
        &_style-1 {
          background-color: var(--color-background-4);
        }
        &_style-2 {
          border-color: var(--color-background-4);
        }
      }
    }
  }
  &-element {
    --height: 54px;
    padding: calc(17px - var(--border)) calc(26px - var(--border));
    font-size: 16px;
    border-radius: calc(var(--height) / 2);
    border-style: solid;
    border-width: var(--border);
    display: flex;
    gap: 16px;
    position: relative;
    transition: background-color var(--trs-1), border-color var(--trs-1), color var(--trs-1);
    .icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      position: relative;
      z-index: 2;
    }
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      z-index: 2;
    }
    &_style-1 {
      --border: 0px;
      background-color: var(--color-background-2);
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        top: 0;
        left: 0;
        background: var(--gradient-input-bg-succes);
        opacity: 0;
        visibility: hidden;
        transition: var(--trs-1);
      }
      &[data-touch], &[data-hover] {
        background-color: var(--color-background-5);
      }
    }
    &_style-2 {
      --border: 2px;
      border-color: var(--color-background-2);
      &[data-touch], &[data-hover] {
        border-color: var(--color-background-5);
      }
    }
  }
}

.select {
  --text-size: var(--form-el-text-size);
  --line-height: var(--form-el-line-height);
  --py: var(--form-el-py);
  --px: var(--form-el-px);
  --radius: var(--form-el-radius);
  --pr: 44px;

  --bg-select: var(--color-background-1);
  --bg-select-hover: var(--color-background-1);
  --color-select: var(--color-text-1);
  --color-select-hover: var(--color-select);

  &_small {
    --text-size: var(--form-el-small-text-size);
    --line-height: var(--form-el-small-line-height);
    --py: var(--form-el-small-py);
    --px: var(--form-el-small-px);
    --radius: var(--form-el-small-radius);
    --pr: 40px;
  }
  min-width: 120px;
  position: relative;
  select, .ss-single-selected {
    padding: var(--py) var(--pr) var(--py) var(--px);
    border-radius: var(--radius);
    font-size: var(--text-size);
    line-height: var(--line-height);
    background-color: var(--bg-select);
    color: var(--color-select);
    cursor: pointer;
    user-select: none;
  }

  .ss-main {
    display: inline-flex;
    position: relative;
  }
  .ss-single-selected {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: background-color var(--trs-1), color var(--trs-1);
    &[data-touch], &[data-hover], &.ss-open-below {
      background-color: var(--bg-select-hover);
      color: var(--color-select-hover);
    }
  }

  .ss-arrow {
    display: block;
    position: absolute;
    right: var(--px);
    top: calc(50% + 1px);
    transform: translateY(-50%);
    .icon {
      width: 100%;
      height: 100%;
      display: block;
    }
    .arrow-down, .arrow-up {
      display: block;
      width: 11px;
      height: 11px;
      transition: transform var(--trs-1);
    }
    .arrow-up {
      transform: translateY(-1px) rotate(180deg);
    }
  }
  .ss-deselect, .ss-search {
    display: none;
  }
  .ss-content {
    position: absolute;
    z-index: 2;
    background-color: var(--color-background-1);
    border-radius: var(--radius);
    box-shadow: var(--modal-shadow);
    width: 260px;
    top: calc(100% + 12px);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--trs-1), visibility var(--trs-1);
    &.ss-open {
      opacity: 1;
      visibility: visible;
    }
    .scrollbar {
      --overscroll-size: var(--select-py);
      max-height: var(--select-max-height); 
    }
  }
  
  .ss-list {
    padding: var(--select-py) 0;
  }
  
  .ss-option {
    cursor: pointer;
    display: block;
    transition: color var(--trs-1), background-color var(--trs-1);
    padding: var(--select-item-py) var(--select-item-px);
    line-height: var(--select-item-lh);
    font-size: 16px;
    &[data-touch], &[data-hover] {
      background-color: var(--color-background-2);
      color: var(--color-text-3);
    }
    &.ss-disabled {
      pointer-events: none;
      &:not(.ss-option-selected) {
        color: var(--color-text-6);
      }
    }
    &-selected {
      background-color: var(--color-background-2);
    }
  }
}

.checkbox {
  display: inline-block;
  cursor: default;
  position: relative;
  input {
    display: none;
    &:checked + span {
      &::after {
        background-color: var(--color-background-6);
      }
    }
    &:disabled + span {
      cursor: default;
      &::after {
        background-color: transparent !important;
      }
      &::before {
        opacity: 0.4;
      }
    }
  }
  span {
    display: block;
    position: relative;
    padding-left: 36px;
    font-size: var(--checkbox-font-size);
    line-height: var(--checkbox-height);
    hyphens: auto;
    cursor: pointer;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
    }
    &::before {
      width: var(--checkbox-height);
      height: var(--checkbox-height);
      top: 0;
      left: 0;
      background-color: var(--color-background-2);
      transition: opacity var(--trs-1);
    }
    &::after {
      width: 10px;
      height: 10px;
      left: calc((var(--checkbox-height) - 10px) / 2);
      top: calc((var(--checkbox-height) - 10px) / 2);
      background-color: transparent;
      transition: background-color var(--trs-1);
    }
  }
  &[data-touch], &[data-hover] {
    span {
      &::after {
        background-color: var(--color-background-5);
      }
    }
  }
}

.color-checkbox {
  display: block;
  cursor: default;
  position: relative;
  --size: 30px;
  input {
    display: none;
    &:checked + span {
      &::after {
        border-color: var(--color-background-7);
      }
    }
    &:disabled + span {
      cursor: default;
      &::after {
        border-color: transparent !important;
      }
      &::before {
        opacity: 1;
      }
    }
  }
  span {
    display: block;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    &::after {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid transparent;
      transition: border-color var(--trs-1);
    }
    &::before {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      z-index: 2;
      width: 130%;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      opacity: 0;
      transition: opacity var(--trs-1);
    }
  }
  &[data-touch], &[data-hover] {
    span {
      &::after {
        border-color: var(--color-background-2);
      }
    }
  }
}

.catalog-label {
  --text-size: var(--form-el-text-size);
  --line-height: var(--form-el-line-height);
  --py: var(--form-el-py);
  --px: var(--form-el-px);
  --radius: var(--form-el-radius);
  font-size: var(--text-size);
  line-height: var(--line-height);
  padding: var(--py) var(--px);
  background-color: var(--color-background-2);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  color: var(--color-text-1) !important;
  &_small {
    --text-size: var(--form-el-small-text-size);
    --line-height: var(--form-el-small-line-height);
    --py: var(--form-el-small-py);
    --px: var(--form-el-small-px);
    --radius: var(--form-el-small-radius);
  }
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon {
    width: 14px;
    height: 14px;
    transition: color var(--trs-1);
    &:last-child {
      margin-left: 12px;
    }
    &:first-child {
      margin-right: 12px;
    }
  }
  &[data-touch], &[data-hover] {
    .icon {
      color: #fff;
    }
  }
}

.label-button {
  --text-size: var(--form-el-text-size);
  --line-height: var(--form-el-line-height);
  --py: var(--form-el-py);
  --px: var(--form-el-px);
  --radius: var(--form-el-radius);
  &_small {
    --text-size: var(--form-el-small-text-size);
    --line-height: var(--form-el-small-line-height);
    --py: var(--form-el-small-py);
    --px: var(--form-el-small-px);
    --radius: var(--form-el-small-radius);
  }
  font-size: var(--text-size);
  line-height: var(--line-height);
  padding: var(--py) var(--px);
  background-color: var(--color-background-2);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  transition: background-color var(--trs-1), color var(--trs-1);
  .icon {
    width: 14px;
    height: 14px;
    &:last-child {
      margin-left: 12px;
    }
    &:first-child {
      margin-right: 12px;
    }
  }
  &[data-touch], &[data-hover] {
    background-color: var(--color-background-5);
    color: #fff;
  }
}

.color-link {
  display: block;
  position: relative;
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: border-color var(--trs-1);
  }
  &.checked {
    cursor: default;
    &::after {
      border-color: var(--color-background-7);
    }
  }
  &.disabled {
    cursor: default;
    &::after {
      display: none;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 130%;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &[data-touch], &[data-hover] {
    &:not(.checked) {
      &::after {
        border-color: var(--color-background-2);
      }
    }
  }
}

.radio-slide {
  cursor: default;
  input {
    display: none;
    &:checked + span {
      --dot-translate: calc(var(--width) - var(--height));
      --slide-bg: var(--color-background-7);
    }
    &:disabled + span {
      cursor: default;
      --dot-bg: var(--color-background-5);
    }
  }
  span {
    --width: 77px;
    --height: 40px;
    --dot-size: 32px;
    --dot-bg: var(--color-background-9);
    --slide-bg: var(--color-background-2);
    cursor: pointer;
    display: block;
    position: relative;
    height: var(--height);
    width: var(--width);
    background-color: var(--slide-bg);
    border-radius: calc(var(--height) / 2);
    transition: background-color var(--trs-1);
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: var(--dot-size);
      height: var(--dot-size);
      border-radius: 50%;
      left: calc((var(--height) - var(--dot-size)) / 2);
      top: calc((var(--height) - var(--dot-size)) / 2);
      background-color: var(--dot-bg);
      transform: translateX(var(--dot-translate));
      transition: transform var(--trs-1), background-color var(--trs-1);
    }
  }
}

.detail-checkbox {
  display: block;
  cursor: default;
  position: relative;
  input {
    display: none;
    &:checked + span {
      background-color: var(--color-background-8);
    }
    &:disabled + span {
      cursor: default;
      color: var(--color-text-4);
      background-color: var(--color-background-2);
    }
  }
  span {
    display: block;
    font-size: 14px;
    line-height: 34px;
    border-radius: 17px;
    padding: 0 14px;
    cursor: pointer;
    background-color: var(--color-background-2);
    color: #fff;
    transition: background-color var(--trs-1);
  }
  &[data-touch], &[data-hover] {
    span {
      background-color: var(--color-background-5);
    }
  }
}

.detail-link {
  display: block;
  display: block;
  font-size: 14px;
  line-height: 34px;
  border-radius: 17px;
  padding: 0 14px;
  cursor: pointer;
  background-color: var(--color-background-2);
  color: #fff !important;
  transition: background-color var(--trs-1);
  &.checked {
    cursor: default;
    background-color: var(--color-background-8);
  }
  &.disabled {
    cursor: default;
    color: var(--color-text-4) !important;
  }
  
  &[data-touch], &[data-hover] {
    &:not(.checked):not(.disabled) {
      background-color: var(--color-background-5);
    }
  }
}

.tab-check-element {
  display: block;
  cursor: default;
  position: relative;
  input {
    display: none;
    &:checked + span {
      cursor: default;
      background-color: var(--color-background-2);
    }
    &:disabled + span {
      cursor: default;
      color: var(--color-text-4) !important;
      background-color: transparent !important;
    }
  }

  span {
    display: block;
    cursor: pointer;
    border: 2px solid var(--color-background-2);
    padding: calc(var(--form-el-py) - 2px) calc(var(--form-el-px) - 2px);
    border-radius: var(--form-el-radius);
    font-size: var(--form-el-text-size);
    line-height: var(--form-el-line-height);
    transition: background-color var(--trs-1), color var(--trs-1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_small {
    span {
      padding: calc(var(--form-el-small-py) - 2px) calc(var(--form-el-small-px) - 2px);
      border-radius: var(--form-el-small-radius);
      font-size: var(--form-el-small-text-size);
      line-height: var(--form-el-small-line-height);
    }
  }

  &[data-touch], &[data-hover] {
    span {
      background-color: var(--color-background-1);
    }
  }
}

.tab-link {
  display: block;
  position: relative;
  border: 2px solid var(--color-background-2);
  padding: calc(var(--form-el-py) - 2px) calc(var(--form-el-px) - 2px);
  border-radius: var(--form-el-radius);
  font-size: var(--form-el-text-size);
  line-height: var(--form-el-line-height);
  color: var(--color-text-1) !important;
  transition: background-color var(--trs-1), color var(--trs-1);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &_small {
    padding: calc(var(--form-el-small-py) - 2px) calc(var(--form-el-small-px) - 2px);
    border-radius: var(--form-el-small-radius);
    font-size: var(--form-el-small-text-size);
    line-height: var(--form-el-small-line-height);
  }
  &.active {
    background-color: var(--color-background-2) !important;
    cursor: default;
  }
  &[data-touch], &[data-hover] {
    background-color: var(--color-background-1);
  }
}

.alert-message {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  &::before {
    content: '!';
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    border: 1px solid var(--color-background-2);
    border-radius: 50%;
    font-weight: 700;
    margin-bottom: 12px;
  }
}


//form
.form-element-label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--color-text-4);
}
.form-elements-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}