img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition-duration: var(--animation-duration-2);
    transition-timing-function: var(--transition-timing-function-1);
    transition-property: opacity, visibility;
  }
}

//images
.image {
  display: block;
  position: relative;
  transform: translateZ(0);
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.image-content {
  background-color: var(--color-background-3);
  --size: var(--image-size);
  --image-size: 100%;
  --image-sm-size: var(--image-size);
  &::before {
    content: '';
    display: block;
    padding-top: var(--size);
  }
  @include media-breakpoint-up(sm) {
    --size: var(--image-sm-size);
  }


  &_left {
    width: calc(100% + var(--content-gutter));
    margin-left: calc(var(--content-gutter) * -1);
  }
  &_right {
    width: calc(100% + var(--content-gutter));
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.close-button {
  padding: 10px;
  margin: -10px;
  color: var(--color-close);
  transition: color var(--trs-1);
  position: absolute;
  top: var(--close-btn-top);
  right: var(--close-btn-right);
  z-index: 2;
  .icon {
    width: var(--close-btn-size);
    height: var(--close-btn-size);
  }
  &[data-touch], &[data-hover] {
    color: var(--color-close-hover);
  }
}

.tippy-box {
  border-radius: 5px;
  background-color: var(--color-tippy-background);
  color: var(--color-tippy);
  padding: 8px 14px;
  transition-timing-function: ease-in-out;
  box-shadow: var(--modal-shadow);
  &[data-placement="bottom"] {
    margin-top: 25px;
  }
  &[data-animation='fade'][data-state='hidden'] {
    opacity: 0;
  }
  &[data-animation='fade'][data-state='visible'] {
    opacity: 1;
  }
}

//3d
@include media-breakpoint-up(lg) {
  [data-3d="parent"] {
    position: relative;
    transform: translateZ(1000px);
    transform-style: preserve-3d;
  }
  [data-3d="back"], [data-3d="forward"] {
    position: relative;
  }
  [data-3d="back"] {
    z-index: 1;
    transform: perspective(500px);
  }
  [data-3d="forward"] {
    z-index: 2;
    transform: perspective(500px) translateZ(50px) scale(0.9);
  }
}

.link-arrow {
  display: flex;
  align-items: center;
  .icon {
    width: 1em;
    height: 1em;
    margin-left: 1em;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-text-2);
  }
}

.dev-label {
  font-size: 0.875rem;
  span {
    color: var(--color-text-4);
  }
  a {
    display: inline-block;
    transform: translateY(7%);
    span {
      display: none;
    }
  }
  svg {
    width: 5.5em;
    display: block;
  }
}

.point-text {
  display: inline-flex;
  align-items: center;
  .icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}

.timetable-element {
  --height: 7px;
  --margin: 20px;
  &__days {
    display: flex;
    margin-bottom: var(--margin);
  }
  &__day {
    flex: 1 1 14.28%;
    text-align: center;
  }
  &__line {
    background-color: var(--color-background-2);
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    position: relative;
    overflow: hidden;
    span {
      display: block;
      height: 100%;
      background: linear-gradient(90deg, #0096F3 0%, #20AC75 44.88%, #EF9530 100%);
    }
  }
  &__description {
    display: flex;
    margin-top: var(--margin);
    span {
      flex: 1 1 auto;
      text-align: center;
      &:first-child {
        flex: 0 0 auto;
      }
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.swiper {
  position: relative;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--trs1), visibility var(--trs-1);
  transition-timing-function: ease;
  &-slide {
    height: initial;
    transform: translateZ(0);
  }
  &-pagination {
    --color: var(--color-background-2);
    --color-hover: var(--color-background-5);
    --color-active: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    &-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color);
      transition: background-color var(--trs-1);
      &:not(:last-child) {
        margin-right: 20px;
      }
      &[data-touch], &[data-hover] {
        background-color: var(--color-hover);
      }
      &-active {
        cursor: default;
        background-color: var(--color-active);
      }
    }
  }
  &-button {
    --size: 64px;
    --icon-size: 20px;
    --color: var(--color-background-6);
    --color-bg: var(--color-background-1);
    --color-hover: #fff;
    --color-hover-bg: var(--color-background-2);
    cursor: pointer;
    display: flex;
    position: absolute;
    z-index: 2;
    width: var(--size);
    height: var(--size);
    color: var(--color);
    background-color: var(--color-bg);
    border-radius: 50%;
    transition: opacity var(--trs-1), visibility var(--trs-1), background-color var(--trs-1), color var(--trs-1);
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-hover);
      background-color: var(--color-hover-bg);
    }
    &-disabled {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  &-scrollbar {
    border-radius: calc(var(--custom-scrollbar-width) / 2);
    background-color: var(--color-scrollbar);
  }
  &-scrollbar-drag {
    background-color: var(--color-scrollbar-thumb);
    border-radius: calc(var(--custom-scrollbar-width) / 2);
  }

  //modificators
  &-initialized {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    & ~ .swiper-button:not(.swiper-button-disabled) {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &-horizontal {
    & ~ .swiper-scrollbar {
      height: var(--custom-scrollbar-width);
      .swiper-scrollbar-drag {
        height: 100%;
      }
    }
  }
}

.slider-constructor {
  position: relative;
  display: flex;
  .swiper {
    width: calc(100% + var(--grid-gutter-x));
    margin: 0 calc(var(--grid-gutter-x) / -2);
    pointer-events: none;
  }
  .swiper-wrapper {
    pointer-events: all;
  }
  .swiper-slide {
    padding: 0 calc(var(--grid-gutter-x) / 2);
  }
  @include media-breakpoint-down(sm) {
    .swiper {
      overflow: visible;
    }
  }
}

[data-collapse='parent'] {
  &.active {
    [data-collapse='content'] {
      height: var(--height);
      &.active {
        height: auto;
      } 
    }
  }
  &:not(.active) {
    [data-collapse='content'] {
      max-height: var(--height);
    }
  }
}

[data-collapse='content'] {
  overflow: hidden;
  position: relative;
}

.map-vector {
  .swiper-slide {
    width: 100%;
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
  }
  @include media-breakpoint-up(sm) {
    .swiper-scrollbar {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper {
      overflow: visible;
    }
    .swiper-slide {
      width: 800px;
    }
    .swiper-scrollbar {
      margin-top: 40px;
    }
  }
}
