:root {
  --content-gutter: calc((var(--content-width) - var(--container-width) + var(--container-gutter-x) * 2) / 2);
  --container-gutter-x: 24px;
  --grid-gutter-x: 24px;

  //scrollbar
  --scrollbar-width: var(--scrollbar-width-property, 0px);
  
  //screen
  --screen-min-width: 360px;
  --window-safe-height: var(--window-safe-height-property, 100vh);
  --window-height: var(--window-height-property, 100vh);
  --window-width: max(var(--screen-min-width), 100vw);
  --screen-max-height: 60vw;

  //content-width
  --content-width: var(--window-width);

  //header
  --header-height: 102px;

  //modal head height
  --modal-head-height: 110px;
  @include media-breakpoint-down(sm) {
    --modal-head-height: 100px;
  }


  --scroll-to-content-gap: 40px;
  
  @include media-breakpoint-down(lg) {
    --header-height: 84px;
    --screen-max-height: calc(var(--window-width) * 1.25);
  }

  @include media-breakpoint-up(xxl) {
    --container-width: #{map-get($container-max-widths, xxl)};
  }
  @include media-breakpoint-down(xxl) {
    --container-width: #{map-get($container-max-widths, xl)};
  }
  @include media-breakpoint-down(xl) {
    --container-width: #{map-get($container-max-widths, lg)};
  }
  @include media-breakpoint-down(lg) {
    --content-width: calc(var(--window-width) - var(--scrollbar-width));
    --container-width: #{map-get($container-max-widths, md)};
  }
  @include media-breakpoint-down(md) {
    --container-width: #{map-get($container-max-widths, sm)};
    --container-gutter-x: 16px;
    --grid-gutter-x: 16px;
  }
  @include media-breakpoint-down(sm) {
    --container-width: var(--content-width);
    --scroll-to-content-gap: 30px;
    --screen-max-height: calc(var(--window-width) * 2);
    --header-height: 80px;
  }
}

//animations
:root {
  --animation-duration-1: 150ms;
  --animation-duration-2: 300ms;
  --animation-duration-3: 500ms;

  --transition-timing-function-1: ease-out;
  
  --trs-1: var(--animation-duration-1) var(--transition-timing-function-1);
  --trs-2: var(--animation-duration-2) var(--transition-timing-function-1);
  --trs-3: var(--animation-duration-3) var(--transition-timing-function-1);
}

//indets
:root {
  --indent-1: 220px;
  --indent-3: 70px;
  @include media-breakpoint-down(lg) {
    --indent-1: 200px;
    --indent-3: 50px;
  }
  @include media-breakpoint-down(md) {
    --indent-1: 160px;
    --indent-3: 40px;
  }
}



//select dropdown
:root {
  --select-py: 14px;
  --select-item-lh: 20px;
  --select-item-py: 6px;
  --select-item-px: 20px;
  --select-list-radius: 5px;
  --select-max-height: calc( var(--select-py) * 2 + ( var(--select-item-lh) + var(--select-item-py) * 2) * 12 );
}

:root {
  //textarea
  --textarea-height: 108px;

  --form-el-py: 17px;
  --form-el-px: 20px;
  --form-el-line-height: 20px;
  --form-el-text-size: 16px;
  --form-el-radius: 10px;
  //small
  --form-el-small-py: 8px;
  --form-el-small-px: 18px;
  --form-el-small-line-height: 20px;
  --form-el-small-text-size: 16px;
  --form-el-small-radius: calc((var(--form-el-small-line-height) + var(--form-el-small-py) * 2) / 2);
  @include media-breakpoint-down(sm) {
    --form-el-small-py: 6px;
    --form-el-small-px: 16px;
  }
}

//checkbox
:root {
  --checkbox-height: 22px;
  --checkbox-font-size: 16px;
}

//close-button
:root {
  --close-btn-size: 16px;
  --close-btn-right: 16px; 
  --close-btn-top: 20px;
}

//line links
:root {
  --line-links-py: 12px;
  --line-links-font-size: 18px;
}

//scrollbar
:root {
  --custom-scrollbar-width: 5px;
}

//product card
:root {
  --pc-row-count: 6;
  --pc-image-size: calc((var(--container-width) - var(--container-gutter-x) * 2 - var(--grid-gutter-x) * (var(--pc-row-count) - 1)) / var(--pc-row-count));
  --pc-padding-top: 10px;
  --pc-padding-bottom: 20px;
  --pc-padding-x: 10px;
  @include media-breakpoint-down(xxl) {
    --pc-row-count: 5;
  }
  @include media-breakpoint-down(xl) {
    --pc-row-count: 4;
  }
  @include media-breakpoint-down(lg) {
    --pc-row-count: 3;
  }
  @include media-breakpoint-down(md) {
    --pc-row-count: 2;
  }
  @include media-breakpoint-down(md) {
    --pc-padding-top: 5px;
    --pc-padding-bottom: 10px;
    --pc-padding-x: 5px;
  }
}

//text
:root {
  --line-height: 1.3;
}

//
:root {
  --angle-top-margin: 120px;
  --angle-top-gutter: 220px;
  --angle-border-size: 170px;
  @include media-breakpoint-down(lg) {
    --angle-top-gutter: 110px;
    --angle-border-size: 80px;
  }
  @include media-breakpoint-down(sm) {
    --angle-top-margin: 100px;
    --angle-top-gutter: 90px;
    --angle-border-size: 50px;
  }
}