.footer {
  --gx: 100px;
  --gy: 25px;
  flex-shrink: 0;
  position: relative;
  padding-top: var(--angle-top-gutter);
  padding-bottom: 25px;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    background-color: var(--color-background-3);
  }
  &:before {
    height: var(--angle-border-size);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    top: 0;
  }
  &::after {
    top: var(--angle-border-size);
    height: calc(100% - var(--angle-border-size));
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 20px var(--gx);
  }
  &__socials {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    &:first-child {
      flex: 1 0 auto;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: var(--gy) var(--gx);
  }
  &__nav-link {
    display: flex;
    align-items: center;
    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.65em;
    }
  }
  &__bottom {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gy) var(--gx);
  }
  &__copyright {
    color: var(--color-text-6);
  }
  @include media-breakpoint-down(xxl) {
    --gx: 80px;
  }
  @include media-breakpoint-down(lg) {
    &__bottom {
      margin-top: 50px;
    }
    &__nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    &__top {
      flex-direction: column;
      align-items: center;
      gap: 60px 0;
    }
    &__bottom {
      margin-top: 25px;
      flex-direction: column;
      gap: 20px 0;
    }
    &__nav {
      order: 2;
      gap: 15px 0;
    }
    &__copyright {
      order: 2;
    }
  }
}
