.input {
  position: relative;
  background-color: var(--color-background-3);
  border-radius: 10px;
  transition: background-color var(--trs-1);
  
  input, textarea {
    font-size: 16px;
    line-height: 20px;
    padding: 17px 20px;
    width: 100%;
    border-radius: inherit;
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--color-text-1);
    }
    &[data-required] ~ span {
      &::after {
        opacity: 1;
      }
    }
  }

  span {
    pointer-events: none;
    color: var(--color-text-4);
    transition: opacity var(--trs-1), color var(--trs-1);
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    &::after {
      content: '*';
      transition: opacity var(--trs-1);
      opacity: 0;
    }
  }

  textarea {
    min-height: 108px;
  }

  &.error {
    background-color: var(--color-input-bg-error) !important;
    span {
      color: inherit;
    }
  }
  &.success {
    background-color: var(--color-input-bg-succes) !important;
  }

  &[data-touch], &[data-hover], &_filled, &_focused {
    background-color: var(--color-background-4);
  }

  &_focused, &_filled {
    span {
      opacity: 0;
    }
  }
}

.input-message {
  display: none;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 20px;
  color: var(--color-input-message);
}

.select {
  --text-size: var(--form-el-text-size);
  --line-height: var(--form-el-line-height);
  --py: var(--form-el-py);
  --px: var(--form-el-px);
  --radius: var(--form-el-radius);
  --pr: 44px;
  &_small {
    --text-size: var(--form-el-small-text-size);
    --line-height: var(--form-el-small-line-height);
    --py: var(--form-el-small-py);
    --px: var(--form-el-small-px);
    --radius: var(--form-el-small-radius);
    --pr: 40px;
  }
  min-width: 120px;
  position: relative;
  z-index: 2;
  select, .ss-single-selected {
    display: block;
    padding: var(--py) var(--pr) var(--py) var(--px);
    border-radius: var(--radius);
    font-size: var(--text-size);
    line-height: var(--line-height);
    background-color: var(--color-background-1);
    cursor: pointer;
    user-select: none;
  }

  .ss-main {
    position: relative;   
  }
  .ss-single-selected {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: background-color var(--trs-1);
    &[data-touch], &[data-hover], &.ss-open-below {
      background-color: var(--color-background-2);
    }
  }

  .ss-arrow {
    display: block;
    position: absolute;
    right: var(--px);
    top: calc(50% + 1px);
    transform: translateY(-50%);
    .icon {
      width: 100%;
      height: 100%;
      display: block;
    }
    .arrow-down, .arrow-up {
      display: block;
      width: 11px;
      height: 11px;
      transition: transform var(--trs-1);
    }
    .arrow-up {
      transform: translateY(-1px) rotate(180deg);
    }
  }
  .ss-deselect, .ss-search {
    display: none;
  }
  .ss-content {
    position: absolute;
    background-color: var(--color-background-1);
    border-radius: var(--select-list-radius);
    width: 260px;
    top: calc(100% + 12px);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--trs-1), visibility var(--trs-1);
    &.ss-open {
      opacity: 1;
      visibility: visible;
    }
    .scrollbar {
      --overscroll-size: var(--select-py);
    }
  }
  
  .ss-list {
    padding: var(--select-py) 0;
    max-height: var(--select-max-height); 
  }
  
  .ss-option {
    cursor: pointer;
    display: block;
    transition: color var(--trs-1), background-color var(--trs-1);
    padding: var(--select-item-py) var(--select-item-px);
    line-height: var(--select-item-lh);
    &[data-touch], &[data-hover] {
      background-color: var(--color-background-2);
      color: var(--color-text-3);
    }
    &.ss-disabled {
      pointer-events: none;
      &:not(.ss-option-selected) {
        color: var(--color-text-6);
      }
    }
    &-selected {
      background-color: var(--color-background-2);
    }
  }
}

.catalog-label {
  --text-size: var(--form-el-text-size);
  --line-height: var(--form-el-line-height);
  --py: var(--form-el-py);
  --px: var(--form-el-px);
  --radius: var(--form-el-radius);
  font-size: var(--text-size);
  line-height: var(--line-height);
  padding: var(--py) var(--px);
  background-color: var(--color-background-2);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  color: var(--color-text-1) !important;
  &_small {
    --text-size: var(--form-el-small-text-size);
    --line-height: var(--form-el-small-line-height);
    --py: var(--form-el-small-py);
    --px: var(--form-el-small-px);
    --radius: var(--form-el-small-radius);
  }
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon {
    width: 14px;
    height: 14px;
    transition: color var(--trs-1);
    &:last-child {
      margin-left: 12px;
    }
    &:first-child {
      margin-right: 12px;
    }
  }
  &[data-touch], &[data-hover] {
    .icon {
      color: #fff;
    }
  }
}

.label-button {
  --text-size: var(--form-el-text-size);
  --line-height: var(--form-el-line-height);
  --py: var(--form-el-py);
  --px: var(--form-el-px);
  --radius: var(--form-el-radius);
  &_small {
    --text-size: var(--form-el-small-text-size);
    --line-height: var(--form-el-small-line-height);
    --py: var(--form-el-small-py);
    --px: var(--form-el-small-px);
    --radius: var(--form-el-small-radius);
  }
  font-size: var(--text-size);
  line-height: var(--line-height);
  padding: var(--py) var(--px);
  background-color: var(--color-background-2);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  transition: background-color var(--trs-1), color var(--trs-1);
  .icon {
    width: 14px;
    height: 14px;
    &:last-child {
      margin-left: 12px;
    }
    &:first-child {
      margin-right: 12px;
    }
  }
  &[data-touch], &[data-hover] {
    background-color: var(--color-background-5);
    color: #fff;
  }
}

.checkbox {
  display: inline-block;
  cursor: default;
  position: relative;
  input {
    display: none;
    &:checked + span {
      &::after {
        background-color: var(--color-background-6);
      }
    }
    &:disabled + span {
      cursor: default;
      &::after {
        background-color: transparent !important;
      }
      &::before {
        opacity: 0.4;
      }
    }
  }
  span {
    display: block;
    position: relative;
    padding-left: 36px;
    font-size: var(--checkbox-font-size);
    line-height: var(--checkbox-height);
    hyphens: auto;
    cursor: pointer;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
    }
    &::before {
      width: var(--checkbox-height);
      height: var(--checkbox-height);
      top: 0;
      left: 0;
      background-color: var(--color-background-2);
      transition: opacity var(--trs-1);
    }
    &::after {
      width: 10px;
      height: 10px;
      left: calc((var(--checkbox-height) - 10px) / 2);
      top: calc((var(--checkbox-height) - 10px) / 2);
      background-color: transparent;
      transition: background-color var(--trs-1);
    }
  }
  &[data-touch], &[data-hover] {
    span {
      &::after {
        background-color: var(--color-background-5);
      }
    }
  }
}

.color-checkbox {
  display: block;
  cursor: default;
  position: relative;
  --size: 30px;
  input {
    display: none;
    &:checked + span {
      &::after {
        border-color: var(--color-background-7);
      }
    }
    &:disabled + span {
      cursor: default;
      &::after {
        border-color: transparent !important;
      }
      &::before {
        opacity: 1;
      }
    }
  }
  span {
    display: block;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    &::after {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid transparent;
      transition: border-color var(--trs-1);
    }
    &::before {
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
      z-index: 2;
      width: 130%;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      opacity: 0;
      transition: opacity var(--trs-1);
    }
  }
  &[data-touch], &[data-hover] {
    span {
      &::after {
        border-color: var(--color-background-2);
      }
    }
  }
}

.color-link {
  display: block;
  position: relative;
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: border-color var(--trs-1);
  }
  &.checked {
    cursor: default;
    &::after {
      border-color: var(--color-background-7);
    }
  }
  &.disabled {
    cursor: default;
    &::after {
      display: none;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 130%;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &[data-touch], &[data-hover] {
    &:not(.checked) {
      &::after {
        border-color: var(--color-background-2);
      }
    }
  }
}

.detail-checkbox {
  display: block;
  cursor: default;
  position: relative;
  input {
    display: none;
    &:checked + span {
      background-color: var(--color-background-8);
    }
    &:disabled + span {
      cursor: default;
      color: var(--color-text-4);
      background-color: var(--color-background-2);
    }
  }
  span {
    display: block;
    font-size: 14px;
    line-height: 34px;
    border-radius: 17px;
    padding: 0 14px;
    cursor: pointer;
    background-color: var(--color-background-2);
    color: #fff;
    transition: background-color var(--trs-1);
  }
  &[data-touch], &[data-hover] {
    span {
      background-color: var(--color-background-5);
    }
  }
}

.detail-link {
  display: block;
  display: block;
  font-size: 14px;
  line-height: 34px;
  border-radius: 17px;
  padding: 0 14px;
  cursor: pointer;
  background-color: var(--color-background-2);
  color: #fff !important;
  transition: background-color var(--trs-1);
  &.checked {
    cursor: default;
    background-color: var(--color-background-8);
  }
  &.disabled {
    cursor: default;
    color: var(--color-text-4) !important;
  }
  
  &[data-touch], &[data-hover] {
    &:not(.checked):not(.disabled) {
      background-color: var(--color-background-5);
    }
  }
}

.tab-check-element {
  display: block;
  cursor: default;
  position: relative;
  input {
    display: none;
    &:checked + span {
      background-color: var(--color-background-2);
    }
    &:disabled + span {
      cursor: default;
      color: var(--color-text-4) !important;
      background-color: transparent !important;
    }
  }

  span {
    display: block;
    cursor: pointer;
    border: 2px solid var(--color-background-2);
    padding: calc(var(--form-el-py) - 2px) calc(var(--form-el-px) - 2px);
    border-radius: var(--form-el-radius);
    font-size: var(--form-el-text-size);
    line-height: var(--form-el-line-height);
    transition: background-color var(--trs-1), color var(--trs-1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_small {
    span {
      padding: calc(var(--form-el-small-py) - 2px) calc(var(--form-el-small-px) - 2px);
      border-radius: var(--form-el-small-radius);
      font-size: var(--form-el-small-text-size);
      line-height: var(--form-el-small-line-height);
    }
  }

  &[data-touch], &[data-hover] {
    span {
      background-color: var(--color-background-1);
    }
  }
}



.product-calculator {
  --size: 40px;
  --px: 5px;
  height: var(--size);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-2);
  border-radius: calc(var(--size) / 2);
  font-size: 16px;
  line-height: 20px;
  input {
    line-height: 20px;
    text-align: center;
    color: var(--color-text-2);
    height: var(--size);
    &[name="count"] {
      background-color: black;
    }
  }
  &__count-input {
    flex: 1 1 auto;
  }
  &__button {
    height: var(--size);
    width: calc(var(--size) + var(--px));
    display: flex;
    flex: 0 0 auto;
    color: var(--color-text-1);
    transition: color var(--trs-1);
    .icon {
      margin: auto;
      width: 16px;
      height: 16px;
    }
    &_minus {
      padding-left: var(--px);
    }
    &_plus {
      padding-right: var(--px);
    }
    &[data-touch], &[data-hover] {
      color: var(--color-text-2);
    }
  }
}

.icon-checkbox {
  border-radius: 27px;
  position: relative;
  display: block;
  color: #fff;
  input {
    display: none;
    &:checked + span {
      background-color: var(--color-background-2);
      &::before {
        background-color: var(--color-background-5);
      }
      &::after {
        opacity: 1;
        background-color: var(--color-background-6);
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    height: 54px;
    border-radius: 27px;
    border: 2px solid var(--color-background-2);
    padding: 0 26px 0 52px;
    transition: background-color var(--trs-1);
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      position: absolute;
      left: 16px;
      top: 14px;
      background-color: var(--color-background-2);
      transition: background-color var(--trs-1);
    }
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 22px;
      top: 20px;
      border-radius: 50%;
      background-color: var(--color-background-5);
      transition: opacity var(--trs-1), visibility var(--trs-1);
      opacity: 0;
    }
  }

  .icon {
    display: block;
    margin-right: 12px;
    &_style-1 {
      width: 26px;
      height: 19px;
    }
    &_style-2 {
      width: 18px;
      height: 23px;
    }
    &_style-3 {
      width: 16px;
      height: 23px;
    }
    &_style-4 {
      width: 22px;
      height: 22px;
    }
  }

  &[data-touch], &[data-hover] {
    span {
      &::after {
        opacity: 1;
      }
    }
  }
}

.form-grid {
  --bs-gutter-x: 14px;
}