.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
  
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__logo {
    width: 212px;
    flex: 0 0 auto;
    margin-right: 145px;
  }
  &__open-nav {
    margin-left: -5px;
    margin-right: 94px;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    padding: 5px;
    color: var(--color-text-1);
    transition: color var(--trs-1);
    &[data-touch], &[data-hover] {
      color: var(--color-text-5);
    }
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  &__search {
    flex: 1 1 auto;
    height: 50px;
    margin-right: 80px;
    border-radius: 25px;
    background-color: var(--color-search-bg);
    &_disabled {
      background-color: transparent;
    }
  }
  &__items {
    display: flex;
    flex: 0 0 auto;
  }
  &__button {
    min-width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-1);
    transition: color var(--trs-1);
    &:not(:last-child) {
      margin-right: 50px;
    }
    .icon {
      display: block;
      width: 28px;
      height: 28px;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-text-5);
    }
  }
  &__cart-button {
    span {
      display: block;
      line-height: 18px;
      min-width: 18px;
      font-size: 12px;
      padding: 0 2px;
      position: absolute;
      border-radius: 9px;
      background-color: var(--color-cart-count-bg);
      left: 25px;
      top: 0;
      font-weight: 500;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      color: #fff;
      transition: opacity var(--trs-1), visibility var(--trs-1);
    }
    &_full {
      span {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__phone-button {
    .icon {
      width: 25px;
      height: 25px;
    }
  }
  &__location-button {
    .icon {
      width: 20px;
      height: 29px;
    }
    span {
      margin-left: 10px;
      border-width: 0 0 1px 0;
      border-style: solid;
      line-height: 1;
      border-color: currentColor;
    }
  }

  @include media-breakpoint-down(xxl) {
    &__open-nav {
      margin-right: 80px;
    }
    &__logo {
      width: 180px;
      margin-right: 80px;
    }
  }
  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.logo {
  display: block;
  color: var(--color-text-1);
  &[data-touch], &[data-hover] {
    color: var(--color-text-5);
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}