.text-muted {
  color: var(--color-text-4);
}

.color-normal {
  color: var(--color-text-1);
}

.color-white {
  color: #fff;
}

.text-small {
  font-size: 14px;
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mb-indent-3 {
  margin-bottom: var(--indent-3) !important;
}

.grid-auto-rows {
  grid-auto-rows: 1fr;
}