.wrapper {
  display: flex;
  flex-direction: column;
  min-height: var(--window-safe-height);
  width: var(--content-width);
  overflow: hidden;
  position: relative;
}

.main {
  --main-top-padding: 150px;
  flex: 1 1 100%;
  padding-top: var(--main-top-padding);
  @include media-breakpoint-down(lg) {
    --main-top-padding: 110px;
  }
  @include media-breakpoint-down(sm) {
    --main-top-padding: 95px;
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: var(--indent-1);
  }
  &:last-child {
    margin-bottom: var(--angle-top-margin);
  }
  &__head {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(lg) {
    &__head {
      margin-bottom: 35px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__head {
      margin-bottom: 30px;
    }
  }
}

.section-border {
  margin-top: calc((var(--indent-1) - max(var(--indent-3), 50px)) * -1);
  &__head {
    margin-bottom: 30px;
  }
  & > .container {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--color-background-2);
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      margin-bottom: 25px;
    }
    & > .container {
      &::before {
        margin-bottom: 25px;
      }
    }
  }
}

.container {
  position: relative;
}

.scrollbar {
  --overscroll-size: 20px;
  --overscroll-bg-1: var(--scroll-start-gradient-1);
  --overscroll-bg-2: var(--scroll-end-gradient-1);
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  &::before, &::after {
    content: '';
    display: block;
    width: 100%;
    height: var(--overscroll-size);
    position: sticky;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }
  &::before {
    top: 0;
    margin-bottom: calc(var(--overscroll-size) * -1);
    background: linear-gradient(0deg, var(--overscroll-bg-2) 0%, var(--overscroll-bg-1) 100%);
  }
  &::after {
    bottom: 0;
    margin-top: calc(var(--overscroll-size) * -1);
    background: linear-gradient(0deg, var(--overscroll-bg-1) 0%, var(--overscroll-bg-2) 100%);
  }
}