.location-element {
  position: absolute;
  z-index: 1001;
  background-color: var(--color-background-1);
  border-radius: var(--select-list-radius);
  overflow: hidden;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--trs-1), visibility var(--trs-1);
  &_visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  &__scrollbar {
    --overscroll-size: var(--select-py);
  }
  &__container {
    max-height: var(--select-max-height);    
  }
  &__list {
    padding: var(--select-py) 0;
  }
  &__link {
    display: block;
    transition: color var(--trs-1), background-color var(--trs-1);
    padding: var(--select-item-py) var(--select-item-px);
    line-height: var(--select-item-lh);
    &[data-touch], &[data-hover] {
      background-color: var(--color-background-2);
    }
  }
}