extends layout/layout
block variables
  -var footer_type = 2
  -var title = sitename+' - Каталог-выдача'
  -var breadcrumbs_links = ['Каталог', 'Контейнеры', 'Соусники ПП']

block content
  include blocks/breadcrumbs

  section.section.product
    .container.product__container
      .section__head.product__head
        h1.h2 Соусник с крышкой 80 мл прозрачный пп 960/80
      
      //картинки
      .product-slider.product__slider
        .swiper 
          .swiper-wrapper
            //large
            .swiper-slide
              .image.image_cover 
                img(data-src="./img/78f88893213e19bf8649cec8eba83be1 1.jpg", alt="image").lazyload
            //large
            .swiper-slide
              .image.image_cover
                img(data-src="./img/konteyner_108kh82_500ml_prozrachnyy_pp_1000_100_ 7.jpg", alt="image").lazyload
            //large
            .swiper-slide
              .image.image_cover
                img(data-src="./img/78f88893213e19bf8649cec8eba83be1 1.jpg", alt="image").lazyload

        .product-slider__miniatures
          .product-slider__miniatures-items
            //small
            .product-slider__miniature
              .image.image_cover
                img(data-src="./img/78f88893213e19bf8649cec8eba83be1 1.jpg", alt="image").lazyload
            //small
            .product-slider__miniature
              .image.image_cover
                img(data-src="./img/konteyner_108kh82_500ml_prozrachnyy_pp_1000_100_ 7.jpg", alt="image").lazyload
            //small
            .product-slider__miniature
              .image.image_cover
                img(data-src="./img/78f88893213e19bf8649cec8eba83be1 1.jpg", alt="image").lazyload

        .product-slider__pagination 
          .swiper-pagination

      .product__content

        //скидка
        .product-stock.product__stock
          .product-stock__label Акция
          .product-stock__text Покупая пластиковые тарелки, соусники даём в подарок!

        //текст описание
        .product__description(data-collapse='parent')
          .product__description-text(data-collapse='content')
            div(data-collapse='inner')
              p Лоток под запайку — удобный и практичный вид упаковки, имеющий большие преимущества перед другими видами фасовки. практичный вид упаковки, имеющий большие преимущества перед другими видами фасовки. практичный вид упаковки, имеющий большие преимущества перед другими видами фасовки. практичный вид упаковки, имеющий большие преимущества перед другими видами фасовки.          
          button(type='button' data-collapse='toggle').collapse-button.product__collapse-button
            span Полное описание
            span Свернуть
            svg.icon 
              use(xlink:href="./img/icons/icons.svg#select-arrow")


        .product__content-grid
          //артикул
          span.product__article Артикул: ЮУПМ2595

          //характеристики
          .product__specifications
            table.info-table 
              tr 
                td 
                  span Цвет
                td 
                  span Стандартное исполнение, прозрачный 
              tr 
                td 
                  span Объем
                td 
                  span 80 мл
              tr 
                td 
                  span Высота
                td 
                  span 34 мм
              tr 
                td 
                  span Диаметр по крышке
                td 
                  span 71 мм
              tr 
                td 
                  span Область применения
                td 
                  span Упаковка, хранение, транспортировка пищевых продуктов
              tr 
                td 
                  span Минимальная партия
                td 
                  span 80 шт
              tr 
                td 
                  span Упаковка
                td 
                  span 1040 шт
                  
          //детальные
          .product-detail-box.product__detail-box
            .product-detail-box__section 
              .product-detail-box__section-title Цвет: 
                span прозрачный
              .product-detail-box__section-items
                .product-detail-box__section-item 
                  +color-link('transparent', 'checked', 'Прозрачный')
                .product-detail-box__section-item 
                  +color-link('#fff', '', 'Белый')
                .product-detail-box__section-item 
                  +color-link('#000', 'disabled', 'Нет в наличии')
            .product-detail-box__section 
              .product-detail-box__section-title Вместимость
              .product-detail-box__section-items
                .product-detail-box__section-item
                  +detail-link('80 мл.', 'checked')
                .product-detail-box__section-item
                  +detail-link('100 мл.')
                .product-detail-box__section-item
                  +detail-link('1000 мл.', 'disabled', 'Нет в наличии')
            .product-detail-box__section 
              .product-detail-box__section-title Количество
              .product-calculator 
                button.product-calculator__button.product-calculator__button_minus
                  svg.icon 
                    use(xlink:href="./img/icons/icons.svg#minus")
                input(type="text" value='1').product-calculator__input
                button.product-calculator__button.product-calculator__button_plus
                  svg.icon 
                    use(xlink:href="./img/icons/icons.svg#plus")
            
            .product-detail-box__button
              button.button.button_large.button_style-1.cart-button_in-cart 
                span.button__inner 
                  span В корзину
                  svg.icon 
                    use(xlink:href="./img/icons/icons.svg#cart2")
                span.button__inner 
                  span В корзине
                  svg.icon 
                    use(xlink:href="./img/icons/icons.svg#check")


  section.section.section-border
    .container 
      .section-border__head
        h3 Похожие товары
      .products-slider.slider-constructor(data-slides='2' data-md-slides='3' data-lg-slides='4' data-xl-slides='5' data-xxl-slides='6')
        .swiper
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +product-card(1)
            //slide
            .swiper-slide 
              +product-card(2)
            //slide
            .swiper-slide 
              +product-card(3)
            //slide
            .swiper-slide 
              +product-card(4)
            //slide
            .swiper-slide 
              +product-card(5)
            //slide
            .swiper-slide 
              +product-card(6)
            //slide
            .swiper-slide 
              +product-card(3)

        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow-left')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow-right')