extends layout/layout
block variables
  -var footer_type = 2
  -var title = sitename+' - Клиентам'

block content

  section.section
    .container
      .d-flex.flex-wrap.column-gap-10.row-gap-15.mb-40.mb-lg-50