extends layout/layout
block variables
  -var footer_type = 3
  -var title = sitename+' - Контакты'

block content
  
  section.section 
     .container 
      .section__head
        h2 Контакты 
      .contacts-section 
        //box
        .contacts-box   
          h5 Головной офис
          ul 
            li Адрес: 394026, г. Воронеж, ул. Текстильщиков, д. 8"Б"
            li Телефон: 
              a(href="tel:74732502040")  +7&nbsp;(473)&nbsp;250&#8209;20&#8209;40
            li Email: 
              a(href="mailto:gk@uplastgroup.ru") gk@uplastgroup.ru
        //box
        .contacts-box
          h5 Региональный отдел продаж. Направление Производство
          ul 
            li Телефон: 
              a(href="tel:74732502040") +7&nbsp;(473)&nbsp;250&#8209;20&#8209;40
              | , доб.&nbsp;1007
            li Email: 
              a(href="mailto:sales-production@uplastgroup.ru") sales-production@uplastgroup.ru
         
        //box
        .contacts-box
          h5 Региональный отдел продаж. Оптовое направление
          ul 
            li Телефон: 
              a(href="tel:74732502040") +7&nbsp;(473)&nbsp;250&#8209;20&#8209;40
              | , доб.&nbsp;1015
            li Email: 
              a(href="mailto:opt2@uplastgroup.ru") opt2@uplastgroup.ru  
         
        //box
        .contacts-box
          h5 Региональный отдел продаж. Сетевое направление
          ul 
            li Телефон: 
              a(href="tel:74732502040") +7&nbsp;(473)&nbsp;250&#8209;20&#8209;40
              | , доб.&nbsp;1013
            li Email: 
              a(href="mailto:brand3@uplastgroup.ru") brand3@uplastgroup.ru

        //box
        .contacts-box
          h5 Управление материально-технического снабжения и закупок
          ul 
            li Телефон: 
              a(href="tel:74732502040") +7&nbsp;(473)&nbsp;250&#8209;20&#8209;40
              | , доб.&nbsp;1070
            li Email: 
              a(href="mailto:zakup@uplastgroup.ru") zakup@uplastgroup.ru
        
        //box
        .contacts-box
          h5 Служба персонала
          ul 
            li Телефон: 
              a(href="tel:74732502040") +7&nbsp;(473)&nbsp;250&#8209;20&#8209;40
              | , доб.&nbsp;1090
            li Email: 
              a(href="mailto:sp@uplastgroup.ru") sp@uplastgroup.ru

      .contacts-section 

        //box
        .contacts-box
          h5 Производственно-логистический комплекс
          ul 
            li Адрес: 396941, Воронежская область, пгт. Стрелица, ул. Солнечная, д. 39

        //box
        .contacts-box
          h5 Служба персонала
          ul 
            li Телефон: 
              a(href="tel:74732330050") +7&nbsp;(473)&nbsp;233&#8209;00&#8209;50
              | , доб.&nbsp;2
            li Email: 
              a(href="mailto:pr-tpk@uplastgroup.ru") pr-tpk@uplastgroup.ru

      .contacts-section 
        //box
        .contacts-box
          h5 Филиал в г. Белгород
          ul 
            li Адрес: 308013, г. Белгород, ул. Коммунальная, д.18
            li Телефон: 
              a(href="tel:74722402050") +7&nbsp;(4722)&nbsp;40&#8209;20&#8209;50
              | , 
              a(href="tel:74722402025") +7&nbsp;(4722)&nbsp;40&#8209;20&#8209;25
            li Email: 
              a(href="mailto:belgorod@uplastgroup.ru") belgorod@uplastgroup.ru

        //box
        .contacts-box
          h5 Филиал в г. Волгоград
          ul 
            li Адрес: 400075,  г. Волгоград, ул. Авторемонтная, д. 11 В
            li Телефон: 
              a(href="tel:74722402050") +7&nbsp;(8442)&nbsp;22&#8209;17&#8209;18
            li Email: 
              a(href="mailto:volgograd@uplastgroup.ru") volgograd@uplastgroup.ru

        //box
        .contacts-box
          h5 Филиал в г. Курск
          ul 
            li Адрес: 305046, г. Курск, 1-й Светлый проезд, д. 8
            li Телефон: 
              a(href="tel:74712400505") +7&nbsp;(4712)&nbsp;40&#8209;05&#8209;05
            li Email: 
              a(href="mailto:kursk@uplastgroup.ru") kursk@uplastgroup.ru

        //box
        .contacts-box
          h5 Филиал в г. Липецк
          ul 
            li Адрес: 398002, г. Липецк, ул. Тельмана, д. 116
            li Телефон: 
              a(href="tel:74742277170") +7&nbsp;(4742)&nbsp;27&#8209;71&#8209;70
              | , 
              a(href="tel:74742274241") +7&nbsp;(4742)&nbsp;27&#8209;42&#8209;41
            li Email: 
              a(href="mailto:lipetsk@uplastgroup.ru") lipetsk@uplastgroup.ru

        //box
        .contacts-box
          h5 Филилал в г. Орёл
          ul 
            li Адрес: 302043, г. Орёл, ул. Автовокзальная, д.43 «А», ТЦ «Аква»
            li Телефон: 
              a(href="tel:74862442420") +7&nbsp;(4862)&nbsp;44&#8209;24&#8209;20
              | , 
              a(href="tel:74862442820") +7&nbsp;(4862)&nbsp;44&#8209;28&#8209;20
            li Email: 
              a(href="mailto:orel@uplastgroup.ru") orel@uplastgroup.ru
      
      .contacts-section
        .contacts-requisites
          h5 Реквизиты
          ul 
            li ООО ТПК «Юпласт-Черноземье»
            li Юридический адрес: 396941, Воронежская область, Семилукский р-н, рп. Стрелица, ул.Солнечная, д.39
            li Фактический адрес: Воронежская область, Семилукский р-н, рп Стрелица, ул. Солнечная, д. 39
            li ИНН 3628013060
            li КПП 362801001
            li ОГРН 1073667030205
            li Р/С 40702810425000003675
            li К/С 30101810145250000411
            li Филиал «Центральный» Банка ВТБ (ПАО) в г. Москве
            li БИК 044525411
