extends layout/layout
block variables
  -var footer_type = 2
  -var title = sitename+' - Корзина'

block content
  section.section.cart 
    .container
      .section__head
        h1.h2 Корзина
      .cart__container 
        .cart__content 

          .cart-item.cart__item
            .cart-item__container
              a(href="#").cart-item__image 
                picture.image.image_cover 
                  source(type="image/webp" data-srcset="./img/bvrly8qknw2xhq.webp")
                  img(data-src="./img/konteyner_108kh82_500ml_prozrachnyy_pp_1000_100_ 7.jpg", alt="image").lazyload
              .cart-item__title
                a(href="#").h5 Соусник с крышкой 80 мл прозрачный пп 960/80
              .cart-item__info 
                table.info-table 
                  tr 
                    td 
                      span Количество в упаковке
                    td 
                      span 4000 шт.
                  tr 
                    td 
                      span Артикул
                    td 
                      span ЮУПМ3315
                  tr 
                    td 
                      span Вес упаковки
                    td 
                      span 20 кг.
              
              .cart-item__count 
                span.cart-item__count-title.text-muted Количество
                .product-calculator 
                  button.product-calculator__button.product-calculator__button_minus
                    svg.icon 
                      use(xlink:href="./img/icons/icons.svg#minus")
                  input(name="count" value="1" data-count="450" disabled).product-calculator__input
                  input(type="text" value='1').product-calculator__count-input
                  button.product-calculator__button.product-calculator__button_plus
                    svg.icon 
                      use(xlink:href="./img/icons/icons.svg#plus")
              
              .cart-item__remove
                button 
                  svg.icon 
                    use(xlink:href="./img/icons/icons.svg#remove")



        .cart__aside

          .cart-total
            .cart-total__top 
              .cart-total__title.text-muted Итог
              .cart-total__count 
                span.h2 3
                span.text-muted позиции
              .cart-total__weight 
                | Общий вес: 
                span 40 кг
            .cart-total__bottom 
              a(href="oformlenie-zakaza.html").button.button_style-1.button_large.cart-total__button 
                span.button__inner
                  span Перейти к оформлению
              span.text-muted.text-small.text-center.text-md-start Доступные способы оплаты и доставки можно выбрать при оформлении заказа 

  section.section.section-border
    .container 
      .section-border__head 
        h3 Вам пригодится
      .swiper.products-slider.slider-constructor(data-slides='2' data-md-slides='3' data-lg-slides='4' data-xl-slides='5' data-xxl-slides='6')
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow-left')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +product-card(1)
            //slide
            .swiper-slide 
              +product-card(2)
            //slide
            .swiper-slide 
              +product-card(3)
            //slide
            .swiper-slide 
              +product-card(4)
            //slide
            .swiper-slide 
              +product-card(5)
            //slide
            .swiper-slide 
              +product-card(6)
            //slide
            .swiper-slide 
              +product-card(3)



