extends layout/layout
block variables
  -var footer_type = 2
  -var title = sitename+' - Поставщикам'

block content
  
  section.section.screen-section.postavshhikam-head
    .screen-section__background.image.image_cover.postavshhikam-head__background
      img(src="./img/postavshhikam/NY5A3437 2.png", alt="image").lazyload
      img(src="./img/postavshhikam/NY5A3437 1.jpg", alt="image").lazyload
      

    .container.screen-section__container.postavshhikam-head__container 
      h1.screen-section__title Как стать поставщиком
      .screen-section__description.postavshhikam-head__description.h6
        p Уважаемые поставщики и производители, приглашаем Вас к сотрудничеству.
      .postavshhikam-head__buttons 
        a(href="#konkursnye-zakupki" data-action="scroll_to_anchor").button.button_large.button_style-3
          span.button__inner
            span Конкурсные закупки
            svg.icon
              use(xlink:href="./img/icons/icons.svg#arrow-bottom")
        a(href="#kommercheskoe-predlozhenie" data-action="scroll_to_anchor").button.button_large.button_style-1
          span.button__inner
            span Отправить предложение
            svg.icon
              use(xlink:href="./img/icons/icons.svg#arrow-bottom")

  section.section#konkursnye-zakupki
    .container 
      .section__head.row.justify-content-lg-between.align-items-lg-center.mb-50.mb-lg-70
        .mb-30.mb-lg-0.col-12.col-lg-6
          h2 Конкурсные закупки
        .col-lg-6.h5
          p Мы заинтересованы в контактах с производителями и поставщиками следующих категорий товаров:

      .d-grid.column-gap-grid.row-gap-20.row-gap-md-grid.grid-columns-1.grid-columns-md-2.grid-columns-xl-3 
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Добавки к полимерам
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Полимеры
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Вспомогательные материалы
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Запчасти
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Гофротара
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Абсорбирующие салфетки
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")
        a(href="javascript:void(0);").rectangle-button
          h6.mb-0 Прочее
          svg.icon 
            use(xlink:href="./img/icons/icons.svg#arrow-right")

  section.section#kommercheskoe-predlozhenie
    .container 
      h2.mb-35.mb-lg-60 Отправьте коммерческое предложение
      .row 
        .col-xl-4.order-xl-2.mb-25.mb-xl-0

          .content-box.pt-40.pt-md-50.pt-xl-70
            svg.icon.mb-40.mb-md-50.mb-xl-70.ms-auto.me-auto.color-white(style='width:65px;height:65px;')
              use(xlink:href="./img/icons/icons.svg#doc-req")
            
            .h6.ms-auto.me-auto(style="max-width:400px;")
              .mb-20.mb-lg-30 Перечень документов, необходимых для рассмотрения предложения:
              ul.list.ps-0
                li Коммерческое предложение
                li Каталог или презентация
                li Сертификаты
          
        .col-xl-8 
          .content-box
            h3.content-box__title Ваши данные
            form
              .form-grid.row.row-gap-30.row-gap-xl-25.mb-30.mb-xl-25
                .form-grid__element.col-md-6  
                  .input
                    input(type="text" data-required)
                    span ФИО
                .form-grid__element.col-md-6  
                  .input
                    input(type="text" data-required)
                    span Город
                .form-grid__element.col-md-6  
                  .input
                    input(type="text" data-required)
                    span Компания
                .form-grid__element.col-md-6  
                  .input
                    input(type="text" data-required)
                    span Вид продукции
                .form-grid__element.col-md-6
                  .input
                    input(type="text" data-required data-validate='phone')
                    span Телефон
                .form-grid__element.col-md-6
                  .input
                    input(type="text" data-required data-validate='email')
                    span Email

              .form-grid.row.row-gap-15.mb-40.mb-md-50.mb-xl-70
                .form-grid__element.col-auto
                  .input-file
                    input(type="file" id='ldlsldlsd' data-required data-validate='file')
                    label(for='ldlsldlsd').input-file-button.input-file-button_style-1
                      svg.icon
                        use(xlink:href="./img/icons/icons.svg#clip")
                      span(data-text='Прикрепить КП|КП прикреплено') Прикрепить КП
                
                .form-grid__element.col-auto
                  .input-file
                    input(type="file" id='kdj' data-required data-validate='file')
                    label(for='kdj').input-file-button.input-file-button_style-1
                      svg.icon
                        use(xlink:href="./img/icons/icons.svg#clip")
                      span(data-text='Прикрепить сертификат|Cертификат прикреплен') Прикрепить сертификат

                .form-grid__element.col-auto
                  .input-file
                    input(type="file" id='idk')
                    label(for='idk').input-file-button.input-file-button_style-2
                      svg.icon
                        use(xlink:href="./img/icons/icons.svg#clip")
                      span(data-text='Другие файлы|Другие файлы прикреплены') Другие файлы

              .d-sm-flex.flex-sm-column.align-items-sm-center 
                button.button.button_style-1.button_large.mb-10.mb-lg-15.w-100.w-sm-auto
                  span.button__inner
                    span Отправить заявку
                
                .text-center.text-small.text-muted Нажимая на кнопку, вы соглашаетесь с 
                  a(href="#").link Политикой конфиденциальности
                  |, 
                  br.d-none.d-lg-block
                  | а также 
                  a(href="#").link Пользовательским соглашением
