section.section.contacts

  .container.contacts__container

    .d-flex.justify-content-between.align-items-center.column-gap-grid.row-gap-15.mb-30.mb-md-40
      h2.mb-0 Контакты
      a(href="kontakty.html").link-arrow.contacts__head-link
        span Все контакты
        svg.icon 
          use(xlink:href="./img/icons/icons.svg#arrow-right")

    .contacts-map.contacts__map
      svg.contacts-map__loader(viewBox='0 0 120 30' fill='currentColor')
        circle(cx='15' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
        circle(cx='60' cy='15' r='9' fill-opacity='0.3')
          animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
        circle(cx='105' cy='15' r='15')
          animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
          animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')


    .contacts-content 
    
      .contacts-content__branch-info
        
        .mb-25.mb-md-35
          .point-text.mb-10
            svg.icon 
              use(xlink:href="./img/icons/icons.svg#point")
            | ближайший филиал

          .select.select_small
            select.cf_select_city
              option(value='1' selected) Воронеж
              option(value='2') Москва
              option(value='3') Белгород


        .contacts-content__info-resaults

          .contacts-content__adress 
            | Адрес: г. Воронеж, ул. Текстильщиков, д. 8 «Б»
            br
            | Телефон: 
            a(href="tel:+7 (473) 250-20-40") +7 (473) 250-20-40
            br
            | Email: 
            a(href="mailto:gk@uplastgroup.ru") gk@uplastgroup.ru

          .contacts-content__timetable

            .timetable-element
              .timetable-element__days
                .timetable-element__day Пн
                .timetable-element__day
                .timetable-element__day
                .timetable-element__day
                .timetable-element__day Пт
                .timetable-element__day Сб
                .timetable-element__day Вс
                
              .timetable-element__line
                span(style='width:71.43%;')
              
              .timetable-element__description
                span(style='width:71.43%;') 09:00-18:00
                span Выходные

          

      .contacts-content__info
        h5.contacts-content__info-title Производственно-логистический комплекс ГК «Юпласт»

          
        ul.contacts-content__info-list
          li.contacts-content__info-item 
            h5.mb-10 Адрес офиса:
            p пгт. Стрелица ул. Солнечная 39
          li.contacts-content__info-item 
            h5.mb-10 Производственный комплекс:
            p Телефон: 
              a(href="tel:") +7 (473) 233-00-50
              br
              | Email: 
              a(href="mailto:gk@uplastgroup.ru") gk@uplastgroup.ru
          li.contacts-content__info-item 
            h5.mb-10 Логистический комплекс:
            p Телефон: 
              a(href="tel:") +7 (473) 233-00-50
              br
              | Email: 
              a(href="mailto:gk@uplastgroup.ru") gk@uplastgroup.ru
        
        .contacts-content__info-button
          button.button.button_style-1.button_large.w-100.w-sm-auto Обратная связь