// header start
header.header
  .container.header__container
    a(href="#mobile-nav" data-action="open_modal").header__open-nav
      svg.icon
        use(xlink:href="./img/icons/icons.svg#burger")
    
    a(href="./").logo.header__logo 
      svg(viewBox="0 0 213 43").icon.logo__image
        use(xlink:href="./img/icons/icons.svg#logo")

    .header__search
      include search
      
    .header__items 

      a(href="#search" data-action='open_modal').header__button.d-lg-none
        svg.icon
          use(xlink:href="./img/icons/icons.svg#magnifier")

      .header__location
        a(href="#location" data-action="open_modal").header__button.header__location-button
          svg.icon
            use(xlink:href="./img/icons/icons.svg#placemark")
          span Воронеж
        include location

      a(href="#content-modal" data-action="open_modal" data-tippy-content="Заказать звонок").header__button.header__phone-button
        svg.icon
          use(xlink:href="./img/icons/icons.svg#phone")

      a(href="#" data-tippy-content="Корзина пустая").header__button.header__cart-button
        svg.icon
          use(xlink:href="./img/icons/icons.svg#cart")
        span 99

a(href="#mobile-nav" data-action="open_modal").nav-burger
  svg.icon
    use(xlink:href="./img/icons/icons.svg#burger") 
// header end