.location-element#location(data-modal-content)

  .location-element__head 

    .location-element__head-title
      svg.icon
        use(xlink:href="./img/icons/icons.svg#placemark")
      span Выберите город

    button.close-button.location-element__close-button(data-action="close_modal" aria-label="Закрыть модальное окно")
      svg.icon
        use(xlink:href="./img/icons/icons.svg#close-button")
      

  .location-element__container.scrollbar
    ul.location-element__list 
      li.location-element__item 
        a(href="#").location-element__link Москва 
      li.location-element__item 
        a(href="#").location-element__link Санкт-Петербург
      li.location-element__item 
        a(href="#").location-element__link Абакан
      li.location-element__item 
        a(href="#").location-element__link Азов
      li.location-element__item 
        a(href="#").location-element__link Александров
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин
      li.location-element__item 
        a(href="#").location-element__link Алексин