//location start

.location-element 
  .location-element__scrollbar.scrollbar
    .location-element__container.scrollbar__container
      ul.location-element__list 
        li.location-element__item 
          a(href="#").location-element__link Москва 
        li.location-element__item 
          a(href="#").location-element__link Санкт-Петербург
        li.location-element__item 
          a(href="#").location-element__link Абакан
        li.location-element__item 
          a(href="#").location-element__link Азов
        li.location-element__item 
          a(href="#").location-element__link Александров
        li.location-element__item 
          a(href="#").location-element__link Алексин
        li.location-element__item 
          a(href="#").location-element__link Альметьевск
        li.location-element__item 
          a(href="#").location-element__link Анапа
        li.location-element__item 
          a(href="#").location-element__link Ангарск
        li.location-element__item 
          a(href="#").location-element__link Анжеро-Судженск
        li.location-element__item 
          a(href="#").location-element__link Апатиты
        li.location-element__item 
          a(href="#").location-element__link Арзамас
        li.location-element__item 
          a(href="#").location-element__link Армавир
        li.location-element__item 
          a(href="#").location-element__link Анапа
        li.location-element__item 
          a(href="#").location-element__link Ангарск
        li.location-element__item 
          a(href="#").location-element__link Анжеро-Судженск
        li.location-element__item 
          a(href="#").location-element__link Апатиты
        li.location-element__item 
          a(href="#").location-element__link Арзамас
        li.location-element__item 
          a(href="#").location-element__link Армавир

//location end