//nav start

nav.mobile-nav

  .mobile-nav__container
    .mobile-nav__head 
      button.close-button.mobile-nav__close-button(data-action="close_nav" aria-label="close nav")
        svg.icon
          use(xlink:href="./img/icons/icons.svg#close-button")

    .mobile-nav__scrollbar.scrollbar 
      .mobile-nav__content.scrollbar__container
        ul.mobile-nav__list 
          li.mobile-nav__item 
            a(href="katalog.html").mobile-nav__link Каталог товаров

          li.mobile-nav__item
            ul.mobile-nav__categories-list 
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_1
                    use(xlink:href="./img/icons/icons.svg#lotok-pod-zapajku")
                  span Лоток под запайку
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_2
                    use(xlink:href="./img/icons/icons.svg#kontejnery")
                  span Контейнеры
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_3
                    use(xlink:href="./img/icons/icons.svg#tortniczy")
                  span Тортницы
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_4
                    use(xlink:href="./img/icons/icons.svg#pakety")
                  span Пакеты
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_5
                    use(xlink:href="./img/icons/icons.svg#odnorazovaya-posuda")
                  span Одноразовая посуда
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_6
                    use(xlink:href="./img/icons/icons.svg#plyonka")
                  span Плёнка
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_7
                    use(xlink:href="./img/icons/icons.svg#yomkosti-iz-vps")
                  span Ёмкости из ВПС
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_8
                    use(xlink:href="./img/icons/icons.svg#bumazhnaya-upakovka")
                  span Бумажная упаковка
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_9
                    use(xlink:href="./img/icons/icons.svg#vyodra-banki-yomkosti")
                  span Вёдра, банки, ёмкости
              li.mobile-nav__categories-item 
                a(href="#").mobile-nav__categories-link
                  svg.icon.mobile-nav__categories-link-icon.mobile-nav__categories-link-icon_10
                    use(xlink:href="./img/icons/icons.svg#khozyajstvennye-tovary")
                  span Хозяйственные товары

          li.mobile-nav__item 
            a(href="#").mobile-nav__link О компании
          li.mobile-nav__item 
            a(href="#").mobile-nav__link Карьера
          li.mobile-nav__item 
            a(href="#").mobile-nav__link Поставщикам
          li.mobile-nav__item 
            a(href="#").mobile-nav__link Клиентам
          li.mobile-nav__item 
            a(href="#").mobile-nav__link Контакты

//nav end