.pagination
  a(href="#").button.button_small.pagination__control В начало
  ul.pagination__list 
    li.pagination__item 
      a(href="javascript:void(0);").button.button_small.pagination__link.is-active 3
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 4
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 5
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 6
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 7
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 8
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 9
    li.pagination__item 
      a(href="#").button.button_small.pagination__link 10
  a(href="#").button.button_small.pagination__control Дальше
  