section.section.promotions-section
  .container.promotions-section__container
    //block
    a(href="#" data-3d="parent").promotions-block
      .promotions-block__back.promotions-block__back_style-1(data-3d="back")
      .promotions-block__container(data-3d="back")
        svg.icon.promotions-block__small-icon
          use(xlink:href="./img/icons/icons.svg#percent")
        h3.promotions-block__title Акции
      .promotions-block__large-icon(data-3d="forward")
          img(src="./img/icons/package1.svg", alt="icon").icon
          img(src="./img/icons/package1_2.svg", alt="icon").icon
    //block
    a(href="#" data-3d="parent").promotions-block
      .promotions-block__back.promotions-block__back_style-2(data-3d="back")
      .promotions-block__container(data-3d="back")
        svg.icon.promotions-block__small-icon
          use(xlink:href="./img/icons/icons.svg#plus")
        h3.promotions-block__title Новинки
      .promotions-block__large-icon(data-3d="forward")
          img(src="./img/icons/package2.svg", alt="icon").icon
          img(src="./img/icons/package2_2.svg", alt="icon").icon
    //block
    a(href="#" data-3d="parent").promotions-block
      .promotions-block__back.promotions-block__back_style-3(data-3d="back")
      .promotions-block__container(data-3d="back")
        svg.icon.promotions-block__small-icon
          use(xlink:href="./img/icons/icons.svg#fire")
        h3.promotions-block__title Популярное
      .promotions-block__large-icon(data-3d="forward")
          img(src="./img/icons/package3.svg", alt="icon").icon
          img(src="./img/icons/package3_2.svg", alt="icon").icon
    //block
    a(href="#" data-3d="parent").promotions-block
      .promotions-block__back.promotions-block__back_style-4(data-3d="back")
      .promotions-block__container(data-3d="back")
        svg.icon.promotions-block__small-icon
          use(xlink:href="./img/icons/icons.svg#clock")
        h3.promotions-block__title Распродажа
      .promotions-block__large-icon(data-3d="forward")
          img(src="./img/icons/package4.svg", alt="icon").icon
          img(src="./img/icons/package4_2.svg", alt="icon").icon
