//search start

.search-element
  .search-element__input(data-custom-interaction)
    input(type="text" placeholder="Поиск").search-element__input-element
    svg.icon
      use(xlink:href="./img/icons/icons.svg#magnifier")

//search end