#search.search-element(data-custom-interaction)
  .search-element__container
  
    .container

      .search-element__input-inner

        .search-element__form(data-custom-interaction)
          input(type="text" placeholder="Поиск").search-element__input
          svg.icon
            use(xlink:href="./img/icons/icons.svg#magnifier")
        
        button.search-element__close(data-action='close_modal' aria-label="Закрыть поиск") Отмена
          
      .search-element__resaults 
        a(href="#").search-element__resault-link 
          span Лотки под запайку 
          svg.icon
            use(xlink:href="./img/icons/icons.svg#arrow")
        a(href="#").search-element__resault-link 
          span Лотки под запайку 
          svg.icon
            use(xlink:href="./img/icons/icons.svg#arrow")
        a(href="#").search-element__resault-link 
          span Лотки под запайку 
          svg.icon
            use(xlink:href="./img/icons/icons.svg#arrow")
        